<section>  
    <div class="container" >
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header" style="background-color: #f8f9d2;
                    background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);">
                        <h4 class="text-center font-weight-light">Reset Password</h4>
                    </div>
                    <div class="card-body">
                     <form [formGroup]= "resetForm" (ngSubmit)="onSubmit()"  class="form-horizontal">
                        
                        <div class="form-group">
                           <label for="password" class="cols-sm-2 control-label">Password:<span style="color: red;">*</span></label>
                           <div class="cols-sm-10">
                               <div class="input-group">
                                   <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                   <input type="password" class="form-control" formControlName="new_password" name="new_password" id="password" placeholder="Enter your Password" 
                                   [ngClass]="{'is-invalid': resetForm.get('new_password').touched  && resetForm.get('new_password').invalid }" />                                        
                                   <div *ngIf="resetForm.get('new_password').touched  && resetForm.get('new_password').invalid" class="invalid-feedback">
                                       <div *ngIf = "resetForm.get('new_password').errors.required"> password is required.</div>
                                       <div *ngIf = "resetForm.get('new_password').errors.minlength || resetForm.get('new_password').errors.maxlength"> password  is must be greater than 6 characters and less than 8 characters.</div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="form-group">
                           <label for="confirm" class="cols-sm-2 control-label">Confirm Password:<span style="color: red;">*</span></label>
                           <div class="cols-sm-10">
                               <div class="input-group">
                                   <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                   <input type="password" class="form-control" formControlName = "confirm_password" name="confirm_password" id="confirm_password" placeholder="Confirm your Password" 
                                   [ngClass]="{'is-invalid': resetForm.get('confirm_password').touched  && resetForm.get('confirm_password').invalid }" />                                        
                                   <div *ngIf="resetForm.get('confirm_password').touched  && resetForm.get('confirm_password').invalid" class="invalid-feedback">
                                       <div *ngIf = "resetForm.get('confirm_password').errors.required"> confirm password is required.</div>
                                       <div *ngIf = "resetForm.get('confirm_password').errors.minlength || resetForm.get('confirm_password').errors.maxlength"> confirm password  is must be greater than 6 characters and less than 8 characters.</div>
                                       <div *ngIf = "resetForm.hasError('not same')"> confirm password is required.</div>
                                   </div>
                               </div>
                           </div>
                       </div>
                         <div class="form-group ">
                             <button type="submit" class="btn square_btn btn-lg btn-block login-button">Submit</button>
                         </div>
                     </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  
<section><div class="mt-5"></div></section>
<section class="section-padding bg-white border-top">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-truck-fast"></i>
                <h6>Free & Next Day Delivery</h6>
                <p>Lorem ipsum dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-basket"></i>
                <h6>100% Satisfaction Guarantee</h6>
                <p>Rorem Ipsum Dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-tag-heart"></i>
                <h6>Great Daily Deals Discount</h6>
                <p>Sorem Ipsum Dolor sit amet, Cons...</p>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section>
    <app-footer></app-footer>
  </section> 
  <!-- Copyright -->
  <section class="pt-4 pb-4 footerr footer-bottom" >
     <div class="container">
        <div class="row no-gutters">
           <div class="col-lg-6 col-sm-6">
              <p class="mt-1 mb-0">&copy; Copyright 2021 <strong class="text-dark">MSN STORES</strong>. All Rights Reserved<br></p>
           </div>
           <!-- <div class="col-lg-6 col-sm-6 text-right">
              <img alt="osahan logo" src="assets/img/payment_methods.png">
           </div> -->
        </div>
     </div>
  </section>
  <!-- End Copyright -->