<!-- Footer -->
<section class="section-padding footer bg-white border-top">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-md-3">
            <h4 class="mb-5 mt-0"><a class="logo" href="index.html"><img src="img/logo-footer.png" alt="Groci"></a></h4>
            <p><a class="text-dark" href="#"><i class="mdi mdi-phone"></i> +61 525 240 310</a></p>
            <p><a class="text-dark" href="#"><i class="mdi mdi-cellphone-iphone"></i> 12345-67890, 56847-98562</a></p>
            <p><a class="text-success" href="#"><i class="mdi mdi-email"></i> complaints@aswika.com</a></p>
            <p><a class="text-primary" href="#"><i class="mdi mdi-web"></i> <strong>www.aswikastores.com</strong></a></p>
         </div>
         
         <div class="col-lg-2 col-md-2">
             <h6 class="mb-4">TOP CITIES </h6>             
             <p><a href="#">New Delhi</a></p>
             <p><a href="#">Bengaluru</a></p>
             <p><a href="#">Hyderabad</a></p>
             <p><a href="#">Kolkata</a></p>
             <p><a href="#">Gurugram</a></p>             
          </div>
         <div class="col-lg-2 col-md-2">
            <h6 class="mb-4">CATEGORIES</h6>
            <p><a href="#">Vegetables</a></p>
            <p><a href="#">Grocery & Staples</a></p>
            <p><a href="#">Breakfast & Dairy</a></p>
            <p><a href="#">Soft Drinks</a></p>
            <p><a href="#">Biscuits & Cookies</a></p>
         </div>
         <div class="col-lg-2 col-md-2">
            <h6 class="mb-4">ABOUT US</h6>
            <p><a href="#">Company Information</a></p>
            <p><a href="#">Careers</a></p>
            <p><a href="#">Store Location</a></p>
            <p><a href="#">Affillate Program</a></p>
            <p><a href="#">Copyright</a></p>
         </div>
         <div class="col-lg-3 col-md-3">
            <h6 class="mb-4">Download App</h6>
            <div class="app">
               <a href="#"><img src="img/google.png" alt=""></a>
               <a href="#"><img src="img/apple.png" alt=""></a>
            </div>
            <h6 class="mb-3 mt-4">GET IN TOUCH</h6>
            <div class="footer-social">
               <a class="btn-facebook" href="#"><i class="mdi mdi-facebook"></i></a>
               <a class="btn-twitter" href="#"><i class="mdi mdi-twitter"></i></a>
               <a class="btn-instagram" href="#"><i class="mdi mdi-instagram"></i></a>
               <a class="btn-whatsapp" href="#"><i class="mdi mdi-whatsapp"></i></a>
               <a class="btn-messenger" href="#"><i class="mdi mdi-facebook-messenger"></i></a>
               <a class="btn-google" href="#"><i class="mdi mdi-google"></i></a>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- End Footer -->