<!-- Footer -->
<section class="section-padding footer border-top">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-md-3">
            <h4 class="mb-5 mt-0"><a class="logo" href="index.html"><img src="assets/img/logo.png" alt="logo"></a></h4>
            <p><a  style="color: #FDB550;" href="#"><i class="mdi mdi-phone"></i> +61 525 240 310</a></p>
            <p><a  style="color: #FDB550;" href="#"><i class="mdi mdi-cellphone-iphone"></i> 12345-67890, 56847-98562</a></p>
            <p><a  style="color: #FDB550;" href="#"><i class="mdi mdi-email"></i> complaints@aswika.com</a></p>
            <p><a  style="color: #FDB550;" href="#"><i class="mdi mdi-web"></i> <strong> www.msn.com</strong></a></p>
         </div>
         
         <div class="col-lg-2 col-md-2">
             <h6 style="color:#fff;" class="mb-4">TOP CITIES </h6>             
             <p><a href="#"  style="color: #FDB550;">New Delhi</a></p>
             <p><a href="#"  style="color: #FDB550;">Bengaluru</a></p>
             <p><a href="#"  style="color: #FDB550;">Hyderabad</a></p>
             <p><a href="#"  style="color: #FDB550;">Kolkata</a></p>
             <p><a href="#"  style="color: #FDB550;">Gurugram</a></p>             
          </div>
         <div class="col-lg-2 col-md-2">
            <h6 class="mb-4" style="color:#fff;">CATEGORIES</h6>
            <p><a href="#"  style="color: #FDB550;">Vegetables</a></p>
            <p><a href="#"  style="color: #FDB550;">Grocery & Staples</a></p>
            <p><a href="#"  style="color: #FDB550;">Breakfast & Dairy</a></p>
            <p><a href="#"  style="color: #FDB550;">Soft Drinks</a></p>
            <p><a href="#"  style="color: #FDB550;">Biscuits & Cookies</a></p>
         </div>
         <div class="col-lg-2 col-md-2">
            <h6 class="mb-4" style="color:#fff;">ABOUT US</h6>
            <p><a href="#"  style="color: #FDB550;">Company Information</a></p>
            <p><a href="#"  style="color: #FDB550;">Careers</a></p>
            <p><a href="#"  style="color: #FDB550;">Store Location</a></p>
            <p><a href="#"  style="color: #FDB550;">Affillate Program</a></p>
            <p><a href="#"  style="color: #FDB550;">Copyright</a></p>
         </div>
         <div class="col-lg-3 col-md-3">
            <h6 class="mb-4" style="color:#fff;">DOWNLOAD APP</h6>
            <div class="app" style="color:#fff;">
               <a href="#"  style="color: #FDB550;"><img src="assets/img/google.png" alt=""></a>
               <a href="#"  style="color: #FDB550;"><img src="assets/img/apple.png" alt=""></a>
            </div>
            <h6 class="mb-3 mt-4" style="color:#fff;">GET IN TOUCH</h6>
            <div class="footer-social" style="color: #FDB550;">
               <a class="btn-facebook" href="#"><i class="mdi mdi-facebook"></i></a>
               <a class="btn-twitter" href="#"><i class="mdi mdi-twitter"></i></a>
               <!-- <a class="btn-instagram" href="#"><i class="mdi mdi-instagram"></i></a> -->
               <!-- <a class="btn-whatsapp" href="#"><i class="mdi mdi-whatsapp"></i></a>
               <a class="btn-messenger" href="#"><i class="mdi mdi-facebook-messenger"></i></a> -->
               <a class="btn-google" href="#"><i class="mdi mdi-google"></i></a><br>               
            </div>
            <div class="app" style="color:#fff;"><br>
               <img alt="osahan logo" src="assets/img/payment_methods.png">
            </div>
         </div>
      </div>
   </div>
</section>
<!-- End Footer -->