<!-- Footer -->
<section class="section-padding footer border-top">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-md-3">
            <h4 class="mb-5 mt-0"><a class="logo" routerLink="/home"><img src="assets/img/logo.png" alt="logo"></a></h4>
            <p><a  style="color: #FDB550;" routerLink="#"><i class="mdi mdi-cellphone-iphone"></i> +91-9989 385 332</a></p>
            
            <p><a  style="color: #FDB550;" routerLink="#"><i class="mdi mdi-email"></i> customersupport@aswikamart.com</a></p>
            <p><a  style="color: #FDB550;" routerLink="/home"><i class="mdi mdi-web"></i> <strong> www.aswikamart.com</strong></a></p>
            <h6 class="mb-4" style="color:#fff;">DOWNLOAD APP</h6>
            <div class="app" style="color:#fff;">
               <a href="https://play.google.com/store/apps/details?id=com.aswikamart.supermarket" target="_blank" style="color: #FDB550;"><img src="assets/img/google.png" alt=""></a>
               <!-- <a routerLink="#"  style="color: #FDB550;"><img src="assets/img/apple.png" alt=""></a> -->
            </div>
         </div>
         
        
         <div class="col-lg-3 col-md-3">
            <h6 class="mb-4" style="color:#fff;">CATEGORIES</h6>
            <p><a routerLink="/shop/Grocery/Atta%20Flours%20&%20Sooji/1"  style="color: #FDB550;">Grocery</a></p>
            <p><a routerLink="/shop/Dairy%20&%20Bakery/Baked%20Cookies/24"  style="color: #FDB550;">Dairy & Bakery</a></p>
            <p><a routerLink="/shop/Snacks%20&%20Branded%20Foods/Indian%20Sweets/17"  style="color: #FDB550;">Indian Sweets</a></p>
            <p><a routerLink="/shop/Beverages/Energy%20&%20Soft%20drinks/54"  style="color: #FDB550;">Soft Drinks</a></p>
            <p><a routerLink="/shop/Snacks%20&%20Branded%20Foods/Biscuits%20&%20Cookies/9"  style="color: #FDB550;">Biscuits & Cookies</a></p>
         </div>
         <div class="col-lg-3 col-md-3">
            <h6 class="mb-4" style="color:#fff;">ABOUT US</h6>
            <p><a routerLink="/faq"  style="color: #FDB550;">Faq's</a></p>
            <p><a routerLink="/privacy-and-policy"  style="color: #FDB550;">Privacy & Policy</a></p>
            <p><a routerLink="/terms-and-conditions"  style="color: #FDB550;">Terms & Conditions</a></p>
            <p><a routerLink="/refund-and-policy"  style="color: #FDB550;">Refund & Policy</a></p>
         </div>
         <div class="col-lg-3 col-md-3">
           
            <h6 class="mb-4" style="color:#fff;">GET IN TOUCH</h6>
            <div class="footer-social" style="color: #FDB550;">
               <!-- <a class="btn-facebook" routerLink="#"><i class="mdi mdi-facebook"></i></a>
               <a class="btn-twitter" routerLink="#"><i class="mdi mdi-twitter"></i></a> -->
               <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Faswikamartcom&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="350" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
              
            </div>
            <!-- <div class="app" style="color:#fff;"><br>
               <img alt="osahan logo" src="assets/img/payment_methods.png">
            </div> -->
         </div>
      </div>
   </div>
</section>
<!-- End Footer -->