<div *ngIf = "tab4 == true">
   <div class="my-order-confirmation-modal modal-dialog-centered" id="order-confirmation-modal" tabindex="-1"  data-keyboard="false" data-backdrop="static" style="padding-right: 16px;margin-top:-143px !important;">
       <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
             <div class="modal-body">
                <div class="login-modal">
                   <div class="row">
                      <div class="text-center">
                         <div class="col-lg-10 col-md-10 mx-auto order-done">
                            <i class="mdi mdi-check-circle-outline text-secondary"></i>
                            <h4 class="text-success">Congrats! Your Order has been Submitted Successfully.<br>
                                                    Your Order ID is: {{orderId}}<br>
                                                    Thank you Visit Again!!!
                            </h4>
                           
                         </div>
                         <div class="text-center">
                            <a routerLink="/"><button type="submit" class="btn btn-secondary mb-2 btn-lg">Return to store</button></a>
                         </div>
                      </div> 
                      
                   </div>
                </div>
             </div>
          </div>
       </div>
    <!-- </div> -->
    </div>
   </div>
<section class="pt-3 pb-3 page-info section-padding border-bottom bg-white">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="col-md-12">
               <a routerLink="/"><strong><span class="mdi mdi-home"></span> Home</strong></a>
                <span class="mdi mdi-chevron-right"></span> Checkout 
            </div>
         </div>
      </div>
   </div>
</section>
<section class="checkout-page section-padding">
   <div class="container">
      <div class="row">
         <div class="col-md-8">
            <div class="checkout-step">
               <div class="accordion" id="accordionExample">
                
                  <div  class="card checkout-step-two">
                     <div class="card-header" id="headingTwo">
                        <h5 class="mb-0"><!--collapsed-->
                           <button class="btn btn-link collapsed " type="button" data-toggle="collapse" data-target="#tabTwo" aria-expanded="true" aria-controls="tabTwo">
                           <span class="number">1</span> Delivery Address <span class="mdi mdi-chevron-down float-right"></span>
                           </button>
                        </h5>
                     </div>
                     <div id="tabTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                           <form #deliveryAddressForm="ngForm"  (ngSubmit)="onSubmit(deliveryAddressForm.value)" class="form-horizontal" >
                              <div class="row">
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="control-label">First Name <span class="required">*</span></label>
                                       <input class="form-control border-form-control"  type="text" id="first_name" name="first_name" #first_name = "ngModel"
                                        [(ngModel)]="customer_address.first_name" 
                                         [ngClass]="{'is-invalid':deliveryAddressForm.submitted && first_name.invalid}" required />
                                          <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="alert alert-danger">
                                             <div *ngIf="first_name.errors.required">first_name is required. </div>
                                          </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="control-label">Last Name <span class="required">*</span></label>
                                       <input class="form-control border-form-control"  type="text" id="last_name" name="last_name" #last_name = "ngModel"
                                        [(ngModel)]="customer_address.last_name"  
                                         [ngClass]="{'is-invalid':deliveryAddressForm.submitted && last_name.invalid}" required />
                                          <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)" class="alert alert-danger">
                                             <div *ngIf="last_name.errors.required">last_name is required. </div>
                                          </div>
                                    </div>
                                 </div>              
                              </div>                               
                               <div class="row">
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="control-label">Phone <span class="required">*</span></label>
                                       <div class="input-group mb-2">
                                          <div class="input-group-prepend">
                                             <div class="input-group-text"><span class="mdi mdi-cellphone-iphone"></span></div>
                                          </div>
                                          <!-- <input type="text" class="form-control" placeholder="Enter phone number"> -->
                                          <input class="form-control border-form-control" type="number" id="mobile" name="mobile" #mobile = "ngModel"
                                             [(ngModel)]="customer_address.mobile" 
                                             [ngClass]="{'is-invalid':deliveryAddressForm.submitted && mobile.invalid}" disabled />
                                             <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="mobile.errors.required">mobile is required. </div>
                                             </div>
                                       </div>
                                       
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="control-label">Email Address <span class="required">*</span></label>
                                       <input class="form-control border-form-control" type="email"  id ="email_id"name="email_id" #email_id = "ngModel"
                                             [(ngModel)]="customer_address.email_id" 
                                             [ngClass]="{'is-invalid':deliveryAddressForm.submitted && email_id.invalid}" disabled />
                                             <div *ngIf="email_id.invalid && (email_id.dirty || email_id.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="email_id.errors.required">Email is required. </div>
                                             </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="control-label">FLAT Number / Floor  <span class="required">*</span></label>
                                       <input class="form-control border-form-control" type="text"  id ="addr_field1"name="addr_field1" #addr_field1 = "ngModel"
                                             [(ngModel)]="customer_address.addr_field1" 
                                             [ngClass]="{'is-invalid':deliveryAddressForm.submitted && addr_field1.invalid}" required />
                                             <div *ngIf="addr_field1.invalid && (addr_field1.dirty || addr_field1.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="addr_field1.errors.required">Flat Number / Floor is required. </div>
                                             </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="control-label">House Number/ Block Number / Plot Number <span class="required">*</span></label>
                                       <input class="form-control border-form-control" type="text"  id ="addr_field2" name="addr_field2" #addr_field2 = "ngModel"
                                             [(ngModel)]="customer_address.addr_field2" 
                                             [ngClass]="{'is-invalid':deliveryAddressForm.submitted && addr_field2.invalid}" required />
                                             <div *ngIf="addr_field2.invalid && (addr_field2.dirty || addr_field2.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="addr_field2.errors.required">House Number/ Block Number / Plot Number is required. </div>
                                             </div>
                                    </div>
                                 </div>                                
                               </div>
                              <div class="row">  
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="control-label">House Name / Apartment Name <span class="required">*</span></label>
                                       <input class="form-control border-form-control" type="text"  id ="addr_field3" name="addr_field3" #addr_field3 = "ngModel"
                                             [(ngModel)]="customer_address.addr_field3" 
                                             [ngClass]="{'is-invalid':deliveryAddressForm.submitted && addr_field3.invalid}" required />
                                             <div *ngIf="addr_field3.invalid && (addr_field3.dirty || addr_field3.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="addr_field3.errors.required">House Name / Apartment Name is required. </div>
                                             </div>
                                    </div>
                                 </div>                               
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="control-label">Street Name <span class="required">*</span></label>
                                       <input class="form-control border-form-control" type="text"  id ="addr_field4" name="addr_field4" #addr_field4 = "ngModel"
                                             [(ngModel)]="customer_address.addr_field4" 
                                             [ngClass]="{'is-invalid':deliveryAddressForm.submitted && addr_field4.invalid}" required />
                                             <div *ngIf="addr_field4.invalid && (addr_field4.dirty || addr_field4.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="addr_field4.errors.required">Street Name is required. </div>
                                             </div>
                                    </div>
                                 </div>
                               </div>
                               <div class="row">     
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="control-label">Landmark <span class="required">*</span></label>
                                       <input class="form-control border-form-control" type="text"  id ="addr_field5" name="addr_field5" #addr_field5 = "ngModel"
                                             [(ngModel)]="customer_address.addr_field5" 
                                             [ngClass]="{'is-invalid':deliveryAddressForm.submitted && addr_field5.invalid}" required />
                                             <div *ngIf="addr_field5.invalid && (addr_field5.dirty || addr_field5.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="addr_field5.errors.required">Landmark is required. </div>
                                             </div>
                                    </div>
                                 </div>                         
                                <div class="col-sm-6">
                                   <div class="form-group">
                                      <label class="control-label">Area/ Location <span class="required">*</span></label>
                                      <select class="form-control border-form-control" id ="addr_field6" name="addr_field6" #addr_field6 = "ngModel"
                                        [(ngModel)]="customer_address.addr_field6"  > 
                                          <option>Choose Location</option>
                                          <option *ngFor="let location of locationList">{{location}}</option>
                                       </select>
                                       <div *ngIf="addr_field6.invalid && (addr_field5.dirty || addr_field5.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="addr_field6.errors.required">Area / Location is required. </div>
                                       </div>
                                   </div>
                                </div>
                                </div>
                                <div class="row">   
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="control-label">City <span class="required">*</span></label>
                                       <input class="form-control border-form-control" type="text"  id ="city" name="city" #city = "ngModel"
                                             [(ngModel)]="customer_address.city"  
                                             [ngClass]="{'is-invalid':deliveryAddressForm.submitted && city.invalid}" disabled />
                                             <div *ngIf="city.invalid && (city.dirty || city.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="city.errors.required">city is required. </div>
                                             </div>
                                    </div>
                                 </div>                              
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="control-label">State <span class="required">*</span></label>
                                       <input class="form-control border-form-control" type="text"  id ="state" name="state" #state = "ngModel"
                                             [(ngModel)]="customer_address.state" 
                                             [ngClass]="{'is-invalid':deliveryAddressForm.submitted && state.invalid}" disabled />
                                             <div *ngIf="state.invalid && (state.dirty || state.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="state.errors.required">state is required. </div>
                                             </div>
                                    </div>
                                 </div>
                               </div>
                              <div class="row">  
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="control-label">Country <span class="required">*</span></label>
                                       <input class="form-control border-form-control" type="text"  id ="country" name="country" #country = "ngModel"
                                             [(ngModel)]="customer_address.country"  
                                             [ngClass]="{'is-invalid':deliveryAddressForm.submitted && country.invalid}" disabled />
                                             <div *ngIf="country.invalid && (country.dirty || country.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="country.errors.required">Country is required. </div>
                                             </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="control-label">Pin code <span class="required">*</span></label>
                                       <input class="form-control border-form-control" type="text"  id ="pin_code" name="pin_code" #pin_code = "ngModel"
                                             [(ngModel)]="customer_address.pin_code"
                                             [ngClass]="{'is-invalid':deliveryAddressForm.submitted && pin_code.invalid}" required />
                                             <div *ngIf="pin_code.invalid && (pin_code.dirty || pin_code.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="pin_code.errors.required">Pincode is required. </div>
                                             </div>
                                    </div>
                                 </div>
                                 </div>
                              <button type="button" data-toggle="collapse" data-target="#tabThree" aria-expanded="false" aria-controls="tabThree" class="btn btn-secondary mb-2 btn-lg" [disabled]="!deliveryAddressForm.valid"   (click)="gotoTop()">NEXT</button> 
                           </form>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#tabThree" aria-expanded="false" aria-controls="tabThree">
                           <span class="number">2</span> Payment & Order Submit<span class="mdi mdi-chevron-down float-right"></span>
                           </button>
                        </h5>
                     </div>
                     <div id="tabThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                          <h4 class="text-success text-center">Time being we are taking cash on delivery <br> (Or)<br> Phone Pay/ Google Pay </h4><br/>
                          <div class="text-center">
                             <button type="submit" class="btn btn-secondary mb-2 btn-lg"   (click)="submitYourOrder()"><b>Submit your Order</b></button>
                             <!-- data-target="#bd-example-modal" data-toggle="modal"-->
                             
                          </div>
                        </div>
                     </div>
                     
                  </div>                      
                  </div>
               </div>
            </div>  
            <div class="col-lg-4 col-md-4">
               <h3 class="heading-design-h5">Currently we are delivering locations:</h3><hr>
               <h6 class="text-dark"><i class="mdi mdi-map-marker"></i> Pragathi Nagar </h6>
               <h6 class="text-dark"><i class="mdi mdi-map-marker"></i> Balangar </h6>
               <h6 class="text-dark"><i class="mdi mdi-map-marker"></i> Chintal </h6>
               <h6 class="text-dark"><i class="mdi mdi-map-marker"></i> Jagadgirigutta </h6>
               <h6 class="text-dark"><i class="mdi mdi-map-marker"></i> Jeedimetla </h6>
               <h6 class="text-dark"><i class="mdi mdi-map-marker"></i> Suchitra </h6>
               <h6 class="text-dark"><i class="mdi mdi-map-marker"></i> Shapur </h6>
               <h6 class="text-dark"><i class="mdi mdi-map-marker"></i> Ghandi Mysamma X roads </h6>
               <h6 class="text-dark"><i class="mdi mdi-map-marker"></i> Kompally </h6>
            </div>          
         </div>     
              
      </div>    
</section>

<section class="section-padding bg-white border-top">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-sm-6">
            <div class="feature-box">
               <i class="mdi mdi-truck-fast"></i>
               <h6>Free & Next Day Delivery</h6>
               <p>Lorem ipsum dolor sit amet, cons...</p>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="feature-box">
               <i class="mdi mdi-basket"></i>
               <h6>100% Satisfaction Guarantee</h6>
               <p>Rorem Ipsum Dolor sit amet, cons...</p>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="feature-box">
               <i class="mdi mdi-tag-heart"></i>
               <h6>Great Daily Deals Discount</h6>
               <p>Sorem Ipsum Dolor sit amet, Cons...</p>
            </div>
         </div>
      </div>
   </div>
   <div>
      <button type="button" class="goto-top" (click)="gotoTop()"></button>
   </div>
</section>
<section>
   <app-footer></app-footer>
 </section> 
 <!-- Copyright -->
 <section class="pt-4 pb-4 footerr footer-bottom" >
    <div class="container">
       <div class="row no-gutters">
          <div class="col-lg-6 col-sm-6">
             <p class="mt-1 mb-0">&copy; Copyright 2021 <strong class="text-dark">ASWIKA STORES</strong>. All Rights Reserved<br></p>
          </div>
          <!-- <div class="col-lg-6 col-sm-6 text-right">
             <img alt="osahan logo" src="assets/img/payment_methods.png">
          </div> -->
       </div>
    </div>
 </section>
 <!-- End Copyright -->
