<div *ngIf = "tab4 == true">
   <div class="my-order-confirmation-modal modal-dialog-centered" id="order-confirmation-modal" tabindex="-1"  data-keyboard="false" data-backdrop="static" style="padding-right: 16px;margin-top:-143px !important;">
      <!-- <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
         <div class="modal-content">
            <div class="modal-body">
               <div class="text-center">
                  <div class="col-lg-10 col-md-10 mx-auto order-done">
                     <i class="mdi mdi-check-circle-outline text-secondary"></i>
                     <h4 class="text-success">Congrats! Your Order has been Submitted..</h4>
                    
                  </div>
                  <div class="text-center">
                     <a routerLink="/home"><button type="submit" class="btn btn-secondary mb-2 btn-lg">Return to store</button></a>
                  </div>
               </div>                                        
            </div>
         </div>
      </div> -->
      <!-- <div class="my-login-modal modal-dialog-centered"  id="bd-example-modal" tabindex="-1"  data-keyboard="false" data-backdrop="static" style="padding-right: 16px;margin-top:-143px !important;"> -->
       <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
             <div class="modal-body">
                <div class="login-modal">
                   <div class="row">
                      <div class="text-center">
                         <div class="col-lg-10 col-md-10 mx-auto order-done">
                            <i class="mdi mdi-check-circle-outline text-secondary"></i>
                            <h4 class="text-success">Congrats! Your Order has been Submitted Successfully.<br>
                                                    Your Order ID is: {{orderId}}<br>
                                                    Thank you Visit Again!!!
                            </h4>
                           
                         </div>
                         <div class="text-center">
                            <a routerLink="/home"><button type="submit" class="btn btn-secondary mb-2 btn-lg">Return to store</button></a>
                         </div>
                      </div> 
                      
                   </div>
                </div>
             </div>
          </div>
       </div>
    <!-- </div> -->
    </div>
   </div>
<section class="pt-3 pb-3 page-info section-padding border-bottom bg-white">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <a href="#"><strong><span class="mdi mdi-home"></span> Home</strong></a> <span class="mdi mdi-chevron-right"></span> <a href="#">Checkout</a>
         </div>
      </div>
   </div>
</section>
<section class="checkout-page section-padding">
   <div class="container">
      <div class="row">
         <div class="col-md-8">
            <div class="checkout-step">
               <div class="accordion" id="accordionExample">
                  <!-- <div class="card checkout-step-one">
                     <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                           <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#tabOne" aria-expanded="true" aria-controls="tabOne">
                           <span class="number">1</span> Phone Number Verification
                           </button>
                        </h5>
                     </div>
                     <div id="tabOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                           <p>We need your phone number so that we can update you about your order.</p>
                           <form>
                              <div class="form-row align-items-center">
                                 <div class="col-auto">
                                    <label class="sr-only">phone number</label>
                                    <div class="input-group mb-2">
                                       <div class="input-group-prepend">
                                          <div class="input-group-text"><span class="mdi mdi-cellphone-iphone"></span></div>
                                       </div>
                                       <input type="text" class="form-control" placeholder="Enter phone number">
                                    </div>
                                 </div>
                                 <div class="col-auto">
                                    <button type="button" data-toggle="collapse" data-target="#tabTwo" aria-expanded="false" aria-controls="tabTwo" class="btn btn-secondary mb-2 btn-lg">NEXT</button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div> -->
                  <div  class="card checkout-step-two">
                     <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#tabTwo" aria-expanded="false" aria-controls="tabTwo">
                           <span class="number">1</span> Delivery Address
                           </button>
                        </h5>
                     </div>
                     <div id="tabTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                           <form [formGroup]= "deliveryAddressForm"  (ngSubmit)="onSubmit()" class="form-horizontal"><!-- (ngSubmit)="onSubmit()"-->
                              <div class="row">
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="control-label">First Name <span class="required">*</span></label>
                                       <input class="form-control border-form-control" formControlName = "first_name"  id="first_name" placeholder="Enter your Name"                                         
                                       [ngClass]="{'is-invalid': deliveryAddressForm.get('first_name').touched  && deliveryAddressForm.get('first_name').invalid }" />                                        
                                       <div *ngIf="deliveryAddressForm.get('first_name').touched  && deliveryAddressForm.get('first_name').invalid" class="invalid-feedback">
                                           <div *ngIf = "deliveryAddressForm.get('first_name').errors.required"> First name is required.</div>
                                           <div *ngIf = "deliveryAddressForm.get('first_name').errors.minlength || deliveryAddressForm.get('first_name').errors.maxlength"> First name is must be greater than 2 characters and less than 10 characters.</div>
                                       </div>
                                    </div>
                                 </div>
                                   <div class="col-sm-6">
                                      <div class="form-group">
                                         <label class="control-label">Last Name <span class="required">*</span></label>
                                         <input class="form-control border-form-control" formControlName = "last_name"  id="last_name" placeholder="Enter your Last Name"
                                          [ngClass]="{'is-invalid': deliveryAddressForm.get('last_name').touched  && deliveryAddressForm.get('last_name').invalid }" />                                        
                                       <div *ngIf="deliveryAddressForm.get('last_name').touched  && deliveryAddressForm.get('last_name').invalid" class="invalid-feedback">
                                           <div *ngIf = "deliveryAddressForm.get('last_name').errors.required"> last name is required.</div>
                                           <div *ngIf = "deliveryAddressForm.get('last_name').errors.minlength || deliveryAddressForm.get('last_name').errors.maxlength"> Last name is must be greater than 2 characters and less than 10 characters.</div>
                                       </div>
                                      </div>
                                   </div>
                              </div>                               
                               <div class="row">
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="control-label">Phone <span class="required">*</span></label>
                                       <input class="form-control border-form-control" formControlName = "mobile"  id="mobile" placeholder="Enter your Last Name"
                                          [ngClass]="{'is-invalid': deliveryAddressForm.get('mobile').touched  && deliveryAddressForm.get('mobile').invalid }" />                                        
                                       <div *ngIf="deliveryAddressForm.get('mobile').touched  && deliveryAddressForm.get('mobile').invalid" class="invalid-feedback">
                                           <div *ngIf = "deliveryAddressForm.get('mobile').errors.required"> mobile required.</div>
                                           <div *ngIf = "deliveryAddressForm.get('mobile').errors.minlength || deliveryAddressForm.get('mobile').errors.maxlength"> Mobile Number is must be 10 digits.</div>
                                      </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class="control-label">Email Address <span class="required">*</span></label>
                                       <input class="form-control border-form-control " formControlName = "email_id"  id="email_id" placeholder="iamosahan@gmail.com" disabled="" type="email"
                                       [ngClass]="{'is-invalid': deliveryAddressForm.get('email_id').touched  && deliveryAddressForm.get('email_id').invalid }" />                                        
                                       <div *ngIf="deliveryAddressForm.get('email_id').touched  && deliveryAddressForm.get('email_id').invalid" class="invalid-feedback">
                                           <div *ngIf = "deliveryAddressForm.get('email_id').errors.required"> email ID is required.</div>
                                           <div *ngIf = "deliveryAddressForm.get('email_id').errors.email">Email must be valid email Address</div>
                                      </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-6">
                                   <div class="form-group">
                                      <label class="control-label">FLAT Number / Floor  <span class="required">*</span></label>
                                      <input class="form-control border-form-control" formControlName = "addr_field1"  id="addr_field1" placeholder="Enter Flat Number" type="text"
                                      [ngClass]="{'is-invalid': deliveryAddressForm.get('addr_field1').touched  && deliveryAddressForm.get('addr_field1').invalid }" />                                        
                                       <div *ngIf="deliveryAddressForm.get('addr_field1').touched  && deliveryAddressForm.get('addr_field1').invalid" class="invalid-feedback">
                                           <div *ngIf = "deliveryAddressForm.get('addr_field1').errors.required"> Flat Number is required.</div>
                                           <div *ngIf = "deliveryAddressForm.get('addr_field1').errors.minlength || deliveryAddressForm.get('addr_field1').errors.maxlength"> Flat Number is must be greater than 8 characters and less than 15 characters.</div>
                                       </div>
                                   </div>
                                </div>
                                <div class="col-sm-6">
                                   <div class="form-group">
                                      <label class="control-label">House Number/ Block Number / Plot Number <span class="required">*</span></label>
                                      <input class="form-control border-form-control" formControlName = "addr_field2"  id="addr_field2" placeholder="Enter House Number" type="text"
                                      [ngClass]="{'is-invalid': deliveryAddressForm.get('addr_field2').touched  && deliveryAddressForm.get('addr_field2').invalid }" />                                        
                                       <div *ngIf="deliveryAddressForm.get('addr_field2').touched  && deliveryAddressForm.get('addr_field2').invalid" class="invalid-feedback">
                                           <div *ngIf = "deliveryAddressForm.get('addr_field2').errors.required"> House Number is required.</div>
                                           <div *ngIf = "deliveryAddressForm.get('addr_field2').errors.minlength || deliveryAddressForm.get('addr_field2').errors.maxlength"> Last name is must be greater than 8 characters and less than 10 characters.</div>
                                       </div>
                                   </div>
                                </div>
                               </div>
                              <div class="row">                                
                                <div class="col-sm-6">
                                   <div class="form-group">
                                      <label class="control-label">House Name / Apartment Name <span class="required">*</span></label>
                                      <input class="form-control border-form-control" formControlName = "addr_field3"  id="addr_field3" placeholder="Enter House Name" type="text"
                                      [ngClass]="{'is-invalid': deliveryAddressForm.get('addr_field3').touched  && deliveryAddressForm.get('addr_field3').invalid }" />                                        
                                       <div *ngIf="deliveryAddressForm.get('addr_field3').touched  && deliveryAddressForm.get('addr_field3').invalid" class="invalid-feedback">
                                           <div *ngIf = "deliveryAddressForm.get('addr_field3').errors.required"> House/Apartment Name is required.</div>
                                           <div *ngIf = "deliveryAddressForm.get('addr_field3').errors.minlength || deliveryAddressForm.get('addr_field3').errors.maxlength"> House/Apartment name is must be greater than 8 characters and less than 15 characters.</div>
                                       </div>
                                   </div>
                                </div>
                                <div class="col-sm-6">
                                   <div class="form-group">
                                      <label class="control-label">Street Name <span class="required">*</span></label>
                                      <input class="form-control border-form-control" formControlName = "addr_field4"  id="addr_field4" placeholder="Enter Street Name" type="text"
                                      [ngClass]="{'is-invalid': deliveryAddressForm.get('addr_field4').touched  && deliveryAddressForm.get('addr_field4').invalid }" />                                        
                                       <div *ngIf="deliveryAddressForm.get('addr_field4').touched  && deliveryAddressForm.get('addr_field4').invalid" class="invalid-feedback">
                                           <div *ngIf = "deliveryAddressForm.get('addr_field4').errors.required"> Street Name is required.</div>
                                           <div *ngIf = "deliveryAddressForm.get('addr_field4').errors.minlength || deliveryAddressForm.get('addr_field4').errors.maxlength"> Street Name is must be greater than 8 characters and less than 15 characters.</div>
                                       </div>
                                   </div>
                                </div>
                               </div>
                               <div class="row">                                 
                                <div class="col-sm-6">
                                   <div class="form-group">
                                      <label class="control-label">Landmark <span class="required">*</span></label>
                                      <input class="form-control border-form-control" formControlName = "addr_field5"  id="addr_field5" placeholder="Enter Landmark" type="text"
                                      [ngClass]="{'is-invalid': deliveryAddressForm.get('addr_field5').touched  && deliveryAddressForm.get('addr_field5').invalid }" />                                        
                                       <div *ngIf="deliveryAddressForm.get('addr_field5').touched  && deliveryAddressForm.get('addr_field5').invalid" class="invalid-feedback">
                                           <div *ngIf = "deliveryAddressForm.get('addr_field5').errors.required"> Landmark is required.</div>
                                           <div *ngIf = "deliveryAddressForm.get('addr_field5').errors.minlength || deliveryAddressForm.get('addr_field5').errors.maxlength"> Landmark is must be greater than 8 characters and less than 15 characters.</div>
                                       </div>
                                   </div>
                                </div>
                                <div class="col-sm-6">
                                   <div class="form-group">
                                      <label class="control-label">Area/ Location <span class="required">*</span></label>
                                      <!-- <input class="form-control border-form-control" formControlName = "addr_field6"  id="addr_field6" placeholder="Enter Area / Location" type="text"
                                      [ngClass]="{'is-invalid': deliveryAddressForm.get('addr_field6').touched  && deliveryAddressForm.get('addr_field6').invalid }" />  -->
                                      <!-- (change)="changeLocation($event)" -->
                                      <select formControlName="addr_field6" class="form-control" >
                                          <option>Choose Location</option>
                                          <option *ngFor="let location of locationList">{{location}}</option>
                                       </select>
                                       <div *ngIf="deliveryAddressForm.get('addr_field6').touched  && deliveryAddressForm.get('addr_field6').invalid" class="invalid-feedback">
                                           <div *ngIf = "deliveryAddressForm.get('addr_field6').errors.required"> Area/Location is required.</div>                                          
                                       </div>
                                   </div>
                                </div>
                                </div>
                                <div class="row">                                 
                                <div class="col-sm-6">
                                   <div class="form-group">
                                      <label class="control-label">City <span class="required">*</span></label>
                                      <input class="form-control border-form-control" formControlName = "city"  id="city" placeholder="Hyderabad" type="text"
                                      [ngClass]="{'is-invalid': deliveryAddressForm.get('city').touched  && deliveryAddressForm.get('city').invalid }" />
                                      <div *ngIf="deliveryAddressForm.get('city').touched  && deliveryAddressForm.get('city').invalid" class="invalid-feedback">
                                         <div *ngIf = "deliveryAddressForm.get('city').errors.required"> City Name is required.</div>
                                         <div *ngIf = "deliveryAddressForm.get('city').errors.minlength || deliveryAddressForm.get('city').errors.maxlength"> City Name is must be greater than 8 characters and less than 15 characters.</div>
                                     </div>
                                   </div>
                                </div>
                                <div class="col-sm-6">
                                   <div class="form-group">
                                      <label class="control-label">State <span class="required">*</span></label>
                                      <input class="form-control border-form-control" formControlName = "state"  id="state" placeholder="Telangana" type="text" readonly>
                                   </div>
                                </div>
                                
                               </div>
                              <div class="row">  
                                 <div class="col-sm-6">
                                   <div class="form-group">
                                      <label class="control-label">Country <span class="required">*</span></label>
                                      <input class="form-control border-form-control" formControlName = "country"  id="country" placeholder="India" type="text" readonly>
                                   </div>
                                </div>
                                <div class="col-sm-6">
                                   <div class="form-group">
                                      <label class="control-label">Pin Code <span class="required">*</span></label>
                                      <input class="form-control border-form-control" formControlName = "pin_code"  id="pin_code" placeholder="Pincode" type="text"
                                      [ngClass]="{'is-invalid': deliveryAddressForm.get('pin_code').touched  && deliveryAddressForm.get('pin_code').invalid }" />
                                      <div *ngIf="deliveryAddressForm.get('pin_code').touched  && deliveryAddressForm.get('pin_code').invalid" class="invalid-feedback">
                                         <div *ngIf = "deliveryAddressForm.get('pin_code').errors.required"> Pincode  is required.</div>
                                         <div *ngIf = "deliveryAddressForm.get('pin_code').errors.minlength || deliveryAddressForm.get('pin_code').errors.maxlength"> Pincode must be 6 digits only.</div>
                                     </div>
                                   </div>
                                </div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="form-group">
                                       <label class="control-label">Shipping Address <span class="required">*</span></label>
                                       <textarea class="form-control border-form-control"></textarea>
                                       <small class="text-danger">Please provide the number and street.</small>
                                    </div>
                                 </div>
                              </div>
                              <div class="heading-part">
                                 <h3 class="sub-heading">Billing Address</h3>
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheckbill" onclick="FillBilling(this.deliveryAddressForm)">
                                <label class="custom-control-label" for="customCheckbill">Use my delivery address as my billing address</label>
                               </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-6">
                                   <div class="form-group">
                                      <label class="control-label">First Name <span class="required">*</span></label>
                                      <input class="form-control border-form-control" value="" placeholder="First Name" type="text">
                                   </div>
                                </div>
                                  <div class="col-sm-6">
                                     <div class="form-group">
                                        <label class="control-label">Last Name <span class="required">*</span></label>
                                        <input class="form-control border-form-control" value="" placeholder="Last Name" type="text">
                                     </div>
                                  </div>
                             </div>                               
                              <div class="row">
                                <div class="col-sm-6">
                                   <div class="form-group">
                                      <label class="control-label">Phone <span class="required">*</span></label>
                                      <input class="form-control border-form-control" value="" placeholder="123 456 7890" type="number">
                                   </div>
                                </div>
                                <div class="col-sm-6">
                                   <div class="form-group">
                                      <label class="control-label">Email Address <span class="required">*</span></label>
                                      <input class="form-control border-form-control " value="" placeholder="raj@gmail.com" disabled="" type="email">
                                   </div>
                                </div>
                             </div>
                             <div class="row">
                               <div class="col-sm-6">
                                  <div class="form-group">
                                     <label class="control-label">Flot Number / Floor  <span class="required">*</span></label>
                                     <input class="form-control border-form-control" value="" placeholder="Flot Number" type="text">
                                  </div>
                               </div>
                               <div class="col-sm-6">
                                  <div class="form-group">
                                     <label class="control-label">House Number/ Block Number / Plot Number <span class="required">*</span></label>
                                     <input class="form-control border-form-control" value="" placeholder="Enter your Address" type="text">
                                  </div>
                               </div>
                              </div>
                             <div class="row">                                
                               <div class="col-sm-6">
                                  <div class="form-group">
                                     <label class="control-label">House Name / Apartment Name <span class="required">*</span></label>
                                     <input class="form-control border-form-control" value="" placeholder="House / Apartment" type="text">
                                  </div>
                               </div>
                               <div class="col-sm-6">
                                  <div class="form-group">
                                     <label class="control-label">Street Name <span class="required">*</span></label>
                                     <input class="form-control border-form-control" value="" placeholder="Street Name" type="text">
                                  </div>
                               </div>
                              </div>
                              <div class="row">                                 
                               <div class="col-sm-6">
                                  <div class="form-group">
                                     <label class="control-label">Landmark <span class="required">*</span></label>
                                     <input class="form-control border-form-control" value="" placeholder="Landmark" type="text">
                                  </div>
                               </div>
                               <div class="col-sm-6">
                                  <div class="form-group">
                                     <label class="control-label">Area/ Location <span class="required">*</span></label>
                                     <input class="form-control border-form-control" value="" placeholder="Area / Location" type="text">
                                  </div>
                               </div>
                               </div>
                               <div class="row">                                 
                               <div class="col-sm-6">
                                  <div class="form-group">
                                     <label class="control-label">City <span class="required">*</span></label>
                                     <input class="form-control border-form-control" value="" placeholder="City" type="text">
                                  </div>
                               </div>
                               <div class="col-sm-6">
                                  <div class="form-group">
                                     <label class="control-label">State <span class="required">*</span></label>
                                     <input class="form-control border-form-control" value="" placeholder="Telangana" type="text" readonly>
                                  </div>
                               </div>
                               
                              </div>
                             <div class="row">  
                                <div class="col-sm-6">
                                  <div class="form-group">
                                     <label class="control-label">Country <span class="required">*</span></label>
                                     <input class="form-control border-form-control" value="" placeholder="India" type="text" readonly>
                                  </div>
                               </div>
                               <div class="col-sm-6">
                                  <div class="form-group">
                                     <label class="control-label">Pin Code <span class="required">*</span></label>
                                     <input class="form-control border-form-control" value="" placeholder="Pincode" type="text">
                                  </div>
                               </div>
                             </div>
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="form-group">
                                       <label class="control-label">Billing Landmark <span class="required">*</span></label>
                                       <textarea class="form-control border-form-control"></textarea>
                                       <small class="text-danger">
                                       Please include landmark (e.g : Opposite Bank) as the carrier service may find it easier to locate your address.
                                       </small>
                                    </div>
                                 </div>
                              </div>   
                              <button type="button" data-toggle="collapse" data-target="#tabThree" aria-expanded="false" aria-controls="tabThree" class="btn btn-secondary mb-2 btn-lg">NEXT</button>                              
                              <!-- <button type="button" type="button" data-toggle="collapse" aria-controls="tabThree" aria-expanded="false"  class="btn btn-secondary mb-2 btn-lg">NEXT</button> -->
                              <!-- data-target="#tabThree"  aria-controls="tabThree"-->
                           </form>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#tabThree" aria-expanded="false" aria-controls="tabThree">
                           <span class="number">2</span> Payment & Order Submit
                           </button>
                        </h5>
                     </div>
                     <div id="tabThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                          <h4 class="text-success text-center">Time being we are taking cash on delivery <br> (Or)<br> Phone Pay/ Google Pay </h4><br/>
                          <div class="text-center">
                             <button type="submit" class="btn btn-secondary mb-2 btn-lg"   (click)="submitYourOrder()"><b>Submit your Order</b></button>
                             <!-- data-target="#bd-example-modal" data-toggle="modal"-->
                             
                          </div>
                        </div>
                     </div>
                     
                  </div>                      
                  </div>
               </div>
            </div>  
            <div class="col-lg-4 col-md-4">
               <h3 class="heading-design-h5">Currently we are delivering locations:</h3><hr>
               <h6 class="text-dark"><i class="mdi mdi-map-marker"></i> Pragathi Nagar </h6>
               <h6 class="text-dark"><i class="mdi mdi-map-marker"></i> Balangar </h6>
               <h6 class="text-dark"><i class="mdi mdi-map-marker"></i> Chintal </h6>
               <h6 class="text-dark"><i class="mdi mdi-map-marker"></i> Jagadgirigutta </h6>
               <h6 class="text-dark"><i class="mdi mdi-map-marker"></i> Jeedimetla </h6>
               <h6 class="text-dark"><i class="mdi mdi-map-marker"></i> Suchitra </h6>
               <h6 class="text-dark"><i class="mdi mdi-map-marker"></i> Shapur </h6>
               <h6 class="text-dark"><i class="mdi mdi-map-marker"></i> Ghandi Mysamma X roads </h6>
               <h6 class="text-dark"><i class="mdi mdi-map-marker"></i> Kompally </h6>
            </div>          
         </div>     
              
      </div>    
</section>

<section class="section-padding bg-white border-top">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-sm-6">
            <div class="feature-box">
               <i class="mdi mdi-truck-fast"></i>
               <h6>Free & Next Day Delivery</h6>
               <p>Lorem ipsum dolor sit amet, cons...</p>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="feature-box">
               <i class="mdi mdi-basket"></i>
               <h6>100% Satisfaction Guarantee</h6>
               <p>Rorem Ipsum Dolor sit amet, cons...</p>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="feature-box">
               <i class="mdi mdi-tag-heart"></i>
               <h6>Great Daily Deals Discount</h6>
               <p>Sorem Ipsum Dolor sit amet, Cons...</p>
            </div>
         </div>
      </div>
   </div>
   <div>
      <button type="button" class="goto-top" (click)="gotoTop()"></button>
   </div>
</section>
<section>
   <app-footer></app-footer>
 </section> 
 <!-- Copyright -->
 <section class="pt-4 pb-4 footerr footer-bottom" >
    <div class="container">
       <div class="row no-gutters">
          <div class="col-lg-6 col-sm-6">
             <p class="mt-1 mb-0">&copy; Copyright 2021 <strong class="text-dark">ASWIKA STORES</strong>. All Rights Reserved<br></p>
          </div>
          <!-- <div class="col-lg-6 col-sm-6 text-right">
             <img alt="osahan logo" src="assets/img/payment_methods.png">
          </div> -->
       </div>
    </div>
 </section>
 <!-- End Copyright -->
