<section class="account-page section-padding">
    <div class="container">
       <div class="row">
          <div class="col-lg-9 mx-auto">
             <div class="row no-gutters">
                <div class="col-md-4">
                   <div class="card account-left">
                      <div class="user-profile-header">
                         <img alt="logo" src="assets/img/user.jpg">
                         <h5 class="mb-1 text-secondary" style="text-transform: capitalize;"><strong>Hi </strong> {{asmCustomerService.getFirstName()}}</h5>
                         <p> {{asmCustomerService.getMobile()}}</p>
                      </div>
                      <div class="list-group">
                        <a routerLink="/my-profile" class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-account-outline"></i>  My Profile</a>
                        <a routerLink="/my-address" class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-map-marker-circle"></i>  My Address</a>
                        <a routerLink="/wishlist" class="list-group-item list-group-item-action active"><i aria-hidden="true" class="mdi mdi-heart-outline"></i>  Wish List </a>
                        <a routerLink="/orderlist" class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-format-list-bulleted"></i>  Order List</a> 
                        <a routerLink="/logout" class="list-group-item list-group-item-action" (click)="onLogout()"><i aria-hidden="true" class="mdi mdi-lock"></i>  Logout</a> 
                      </div>
                   </div>
                </div>
                <div class="col-md-8">
                   <div class="card card-body account-right">
                      <div class="widget">
                         <div class="section-header">
                            <h5 class="heading-design-h5">
                               Wishlist
                            </h5>
                         </div>
                         <div class="row no-gutters">
                            <div class="col-md-6">
                               <div class="product">
                                  <a href="#">
                                     <div class="product-header">
                                        <span class="badge badge-success">50% OFF</span>
                                        <img alt="" src="assets/img/item/2.jpg" class="img-fluid">
                                        <span class="veg text-success mdi mdi-circle"></span>
                                     </div>
                                     <div class="product-body">
                                        <h5>Product Title Here</h5>
                                        <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                                     </div>
                                     <div class="product-footer">
                                        <button class="btn btn-secondary btn-sm float-right" type="button"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                                        <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                                     </div>
                                  </a>
                               </div>
                            </div>
                            <div class="col-md-6">
                               <div class="product">
                                  <a href="#">
                                     <div class="product-header">
                                        <span class="badge badge-success">50% OFF</span>
                                        <img alt="" src="assets/img/item/3.jpg" class="img-fluid">
                                        <span class="veg text-success mdi mdi-circle"></span>
                                     </div>
                                     <div class="product-body">
                                        <h5>Product Title Here</h5>
                                        <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                                     </div>
                                     <div class="product-footer">
                                        <button class="btn btn-secondary btn-sm float-right" type="button"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                                        <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                                     </div>
                                  </a>
                               </div>
                            </div>
                         </div>
                         <div class="row no-gutters">
                            <div class="col-md-6">
                               <div class="product">
                                  <a href="#">
                                     <div class="product-header">
                                        <span class="badge badge-success">50% OFF</span>
                                        <img alt="" src="assets/img/item/4.jpg" class="img-fluid">
                                        <span class="veg text-success mdi mdi-circle"></span>
                                     </div>
                                     <div class="product-body">
                                        <h5>Product Title Here</h5>
                                        <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                                     </div>
                                     <div class="product-footer">
                                        <button class="btn btn-secondary btn-sm float-right" type="button"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                                        <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                                     </div>
                                  </a>
                               </div>
                            </div>
                            <div class="col-md-6">
                               <div class="product">
                                  <a href="#">
                                     <div class="product-header">
                                        <span class="badge badge-success">50% OFF</span>
                                        <img alt="" src="assets/img/item/5.jpg" class="img-fluid">
                                        <span class="veg text-success mdi mdi-circle"></span>
                                     </div>
                                     <div class="product-body">
                                        <h5>Product Title Here</h5>
                                        <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                                     </div>
                                     <div class="product-footer">
                                        <button class="btn btn-secondary btn-sm float-right" type="button"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                                        <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                                     </div>
                                  </a>
                               </div>
                            </div>
                         </div>
                         <nav>
                            <ul class="pagination justify-content-center mt-4">
                               <li class="page-item disabled">
                                  <span class="page-link">Previous</span>
                               </li>
                               <li class="page-item"><a href="#" class="page-link">1</a></li>
                               <li class="page-item active">
                                  <span class="page-link">
                                  2
                                  <span class="sr-only">(current)</span>
                                  </span>
                               </li>
                               <li class="page-item"><a href="#" class="page-link">3</a></li>
                               <li class="page-item">
                                  <a href="#" class="page-link">Next</a>
                               </li>
                            </ul>
                         </nav>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="section-padding bg-white border-top">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-truck-fast"></i>
                <h6>Free & Next Day Delivery</h6>
                <p>Lorem ipsum dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-basket"></i>
                <h6>100% Satisfaction Guarantee</h6>
                <p>Rorem Ipsum Dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-tag-heart"></i>
                <h6>Great Daily Deals Discount</h6>
                <p>Sorem Ipsum Dolor sit amet, Cons...</p>
             </div>
          </div>
       </div>
    </div>
 </section>
    <!-- Copyright -->
    <section class="pt-4 pb-4 footer-bottom">
        <div class="container">
           <div class="row no-gutters">
              <div class="col-lg-6 col-sm-6">
                 <p class="mt-1 mb-0">&copy; Copyright 2020 <strong class="text-dark">Groci</strong>. All Rights Reserved<br>
                 <small class="mt-0 mb-0">Made with <i class="mdi mdi-heart text-danger"></i> by <a href="https://askbootstrap.com/" target="_blank" class="text-primary">Ask Bootstrap</a>
                 </small>
                 </p>
              </div>
              <div class="col-lg-6 col-sm-6 text-right">
                 <img alt="osahan logo" src="img/payment_methods.png">
              </div>
           </div>
        </div>
     </section>
     <!-- End Copyright -->