
      <!-- Inner Header -->
      <section class="section-padding bg-dark inner-header">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <h1 class="mt-0 mb-3 text-white">About Us</h1>
                  <div class="breadcrumbs">
                     <p class="mb-0 text-white"><a class="text-white" href="#">Home</a>  /  <span class="text-success">About Us</span></p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Inner Header -->
      <!-- About -->
      <section class="section-padding bg-white">
         <div class="container">
            <div class="row">
               <div class="pl-4 col-lg-4 col-md-4 pr-4">
                  <img class="rounded img-fluid" src="assets/img/about.jpg" alt="Card image cap">
               </div>
               <div class="col-lg-8 col-md-8 pl-8 pr-5">
                  <h2 class="mt-5 mb-5 text-secondary"> One stop for all your needs and essentials!</h2>
                  <!-- <h5 class="mt-2">Our Vision</h5> -->
                  <p style="color: #333;font-size: 14px;text-align: justify;font-weight: 500;">Aswikamart is a marketplace for your entire family. We make great efforts to be innovative, offering our customers something they want.

                     Every single person is unique and keeping that in mind we promise to deliver you the products according to your budget, necessities and demands.
                    
                     We strive to provide a vast collection of product ranges that include, Food grains, Oils, Spices, Fresh Produce, Eggs, Cleaning Products, Dairy & Bakery  etc.
                    
                     We thoroughly check the quality of our products, working only with reliable suppliers just to make sure that we get the best to you at most affordable prices, because your desire, satisfaction and investment is our paramount concern.
                    
                     We hope you will enjoy our products as much as we enjoy making them available to you.
                    
                     Established in 2019 by Mr. Ramachandra Kurakula, Aswika super maket was set up as India’s First Supermarket selling imported food products in the Chintal, Hyderabad.
                    
                     In the last 2 years, ASwika super market  has created itself a name as the One Stop place for all essential and exclusive grocery and food products in Chintal. 
                    
                     In 2021, Aswikamart will launch <a href="https://aswikamart.com/"><b>aswikmart.com</b></a>  website and  Android mobile app for the customers to easy to shoping in the portals.
                    
                    </p>
                 
               </div>
            </div>
         </div>
      </section>
      <!-- End About -->
      
      <section class="section-padding bg-white border-top" style="background: radial-gradient(orange, transparent);">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-sm-6">
                  <div class="feature-box">
                     <i class="mdi mdi-truck-fast" style="color : #3a0808;border :1px solid #3a0808; border-style: dotted;"></i>
                     <h6 style="font-weight: 500;">Free & Next Day Delivery</h6>
                     <!-- <p>Lorem ipsum dolor sit amet, cons...</p> -->
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6">
                  <div class="feature-box">
                     <i class="mdi mdi-basket"style="color : #3a0808;border :1px solid #3a0808;"></i>
                     <h6 style="font-weight: 500;">100% Satisfaction Guarantee</h6>               
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6">
                  <div class="feature-box">
                     <i class="mdi mdi-tag-heart" style="color : #3a0808;border :1px solid #3a0808;"></i>
                     <h6 style="font-weight: 500;">Great Daily Deals Discount</h6>               
                  </div>
               </div>
            </div>
         </div>
         <div>
            <button type="button" class="goto-top" (click)="gotoTop()"><span class="mdi mdi-chevron-up"></span></button>
         </div>
      </section>
       <section>
         <app-footer></app-footer>
       </section> 
       <!-- Copyright -->
       <section class="pt-4 pb-4 footerr footer-bottom" >
          <div class="container">
             <div class="row no-gutters">
                <div class="col-lg-6 col-sm-6">
                   <p class="mt-1 mb-0">&copy; Copyright 2021 <strong class="text-dark">ASWIKA STORES</strong>. All Rights Reserved<br></p>
                </div>
               
             </div>
          </div>
       </section>
       <!-- End Copyright -->