<div class="modal fade login-modal-main" id="bd-example-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
       <div class="modal-content">
          <div class="modal-body">
             <div class="login-modal">
                <div class="row">
                   <div class="col-lg-6 pad-right-0">
                      <div class="login-modal-left">
                      </div>
                   </div>
                   <div class="col-lg-6 pad-left-0">
                      <button type="button" class="close close-top-right" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"><i class="mdi mdi-close"></i></span>
                      <span class="sr-only">Close</span>
                      </button>
                      <form>
                         <div class="login-modal-right">
                            <!-- Tab panes -->
                            <div class="tab-content">
                               <div class="tab-pane active" id="login" role="tabpanel">
                                  <h5 class="heading-design-h5">Login to your account</h5>
                                  <fieldset class="form-group">
                                     <label>Enter Email/Mobile number</label>
                                     <input type="text" class="form-control" placeholder="+91 123 456 7890">
                                  </fieldset>
                                  <fieldset class="form-group">
                                     <label>Enter Password</label>
                                     <input type="password" class="form-control" placeholder="********">
                                  </fieldset>
                                  <fieldset class="form-group">
                                     <button type="submit" class="btn btn-lg btn-secondary btn-block">Enter to your account</button>
                                  </fieldset>
                                  <div class="login-with-sites text-center">
                                     <p>or Login with your social profile:</p>
                                     <button class="btn-facebook login-icons btn-lg"><i class="mdi mdi-facebook"></i> Facebook</button>
                                     <button class="btn-google login-icons btn-lg"><i class="mdi mdi-google"></i> Google</button>
                                     <button class="btn-twitter login-icons btn-lg"><i class="mdi mdi-twitter"></i> Twitter</button>
                                  </div>
                                  <div class="custom-control custom-checkbox">
                                     <input type="checkbox" class="custom-control-input" id="customCheck1">
                                     <label class="custom-control-label" for="customCheck1">Remember me</label>
                                  </div>
                               </div>
                               <div class="tab-pane" id="register" role="tabpanel">
                                  <h5 class="heading-design-h5">Register Now!</h5>
                                  <fieldset class="form-group">
                                     <label>Enter Email/Mobile number</label>
                                     <input type="text" class="form-control" placeholder="+91 123 456 7890">
                                  </fieldset>
                                  <fieldset class="form-group">
                                     <label>Enter Password</label>
                                     <input type="password" class="form-control" placeholder="********">
                                  </fieldset>
                                  <fieldset class="form-group">
                                     <label>Enter Confirm Password </label>
                                     <input type="password" class="form-control" placeholder="********">
                                  </fieldset>
                                  <fieldset class="form-group">
                                     <button type="submit" class="btn btn-lg btn-secondary btn-block">Create Your Account</button>
                                  </fieldset>
                                  <div class="custom-control custom-checkbox">
                                     <input type="checkbox" class="custom-control-input" id="customCheck2">
                                     <label class="custom-control-label" for="customCheck2">I Agree with <a href="#">Term and Conditions</a></label>
                                  </div>
                               </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="text-center login-footer-tab">
                               <ul class="nav nav-tabs" role="tablist">
                                  <li class="nav-item">
                                     <a class="nav-link active" data-toggle="tab" href="#login" role="tab"><i class="mdi mdi-lock"></i> LOGIN</a>
                                  </li>
                                  <li class="nav-item">
                                     <a class="nav-link" data-toggle="tab" href="#register" role="tab"><i class="mdi mdi-pencil"></i> REGISTER</a>
                                  </li>
                               </ul>
                            </div>
                            <div class="clearfix"></div>
                         </div>
                      </form>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
  <!-- Inner Header -->
  <section class="section-padding bg-dark inner-header">
    <div class="container">
       <div class="row">
          <div class="col-md-12 text-center">
             <h1 class="mt-0 mb-3 text-white">Contact Us</h1>
             <div class="breadcrumbs">
                <p class="mb-0 text-white"><a class="text-white" href="#">Home</a>  /  <span class="text-success">Contact Us</span></p>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- End Inner Header -->
 <!-- Contact Us -->
 <section class="section-padding">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-md-4">
             <h3 class="mt-1 mb-5">Get In Touch</h3>
             <h6 class="text-dark"><i class="mdi mdi-home-map-marker"></i> Address :</h6>
             <p>86 Petersham town, New South wales Waedll Steet, Australia PA 6550</p>
             <h6 class="text-dark"><i class="mdi mdi-phone"></i> Phone :</h6>
             <p>+91 12345-67890, (+91) 123 456 7890</p>
             <h6 class="text-dark"><i class="mdi mdi-deskphone"></i> Mobile :</h6>
             <p>(+20) 220 145 6589, +91 12345-67890</p>
             <h6 class="text-dark"><i class="mdi mdi-email"></i> Email :</h6>
             <p>iamosahan@gmail.com, info@gmail.com</p>
             <h6 class="text-dark"><i class="mdi mdi-link"></i> Website :</h6>
             <p>www.askbootstrap.com</p>
             <div class="footer-social"><span>Follow : </span>
                <a href="#"><i class="mdi mdi-facebook"></i></a>
                <a href="#"><i class="mdi mdi-twitter"></i></a>
                <a href="#"><i class="mdi mdi-instagram"></i></a>
                <a href="#"><i class="mdi mdi-google"></i></a>
             </div>
          </div>
          <div class="col-lg-8 col-md-8">
             <div class="card">
                <div class="card-body">
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d109552.19658195564!2d75.78663251672796!3d30.900473637371658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a837462345a7d%3A0x681102348ec60610!2sLudhiana%2C+Punjab!5e0!3m2!1sen!2sin!4v1530462134939" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- End Contact Us -->
 <!-- Contact Me -->
 <section class="section-padding  bg-white">
    <div class="container">
       <div class="row">
          <div class="col-lg-12 col-md-12 section-title text-left mb-4">
             <h2>Contact Us</h2>
          </div>
          <form class="col-lg-12 col-md-12" name="sentMessage" id="contactForm" novalidate>
             <div class="control-group form-group">
                <div class="controls">
                   <label>Full Name <span class="text-danger">*</span></label>
                   <input type="text" placeholder="Full Name" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                   <p class="help-block"></p>
                </div>
             </div>
             <div class="row">
                <div class="control-group form-group col-md-6">
                   <label>Phone Number <span class="text-danger">*</span></label>
                   <div class="controls">
                      <input type="tel" placeholder="Phone Number" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                   </div>
                </div>
                <div class="control-group form-group col-md-6">
                   <div class="controls">
                      <label>Email Address <span class="text-danger">*</span></label>
                      <input type="email" placeholder="Email Address"  class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
                   </div>
                </div>
             </div>
             <div class="control-group form-group">
                <div class="controls">
                   <label>Message <span class="text-danger">*</span></label>
                   <textarea rows="4" cols="100" placeholder="Message"  class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                </div>
             </div>
             <div id="success"></div>
             <!-- For success/fail messages -->
             <button type="submit" class="btn btn-success">Send Message</button>
          </form>
       </div>
    </div>
 </section>
 <!-- End Contact Me -->
   <!-- Copyright -->
   <section class="pt-4 pb-4 footer-bottom">
    <div class="container">
       <div class="row no-gutters">
          <div class="col-lg-6 col-sm-6">
             <p class="mt-1 mb-0">&copy; Copyright 2020 <strong class="text-dark">Groci</strong>. All Rights Reserved<br>
             <small class="mt-0 mb-0">Made with <i class="mdi mdi-heart text-danger"></i> by <a href="https://askbootstrap.com/" target="_blank" class="text-primary">Ask Bootstrap</a>
             </small>
             </p>
          </div>
          <div class="col-lg-6 col-sm-6 text-right">
             <img alt="osahan logo" src="assets/img/payment_methods.png">
          </div>
       </div>
    </div>
 </section>
 <!-- End Copyright -->
 <div class="cart-sidebar">
    <div class="cart-sidebar-header">
       <h5>
          My Cart <span class="text-success">(5 item)</span> <a data-toggle="offcanvas" class="float-right" href="#"><i class="mdi mdi-close"></i>
          </a>
       </h5>
    </div>
    <div class="cart-sidebar-body">
       <div class="cart-list-product">
          <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
          <img class="img-fluid" src="img/item/11.jpg" alt="">
          <span class="badge badge-success">50% OFF</span>
          <h5><a href="#">Product Title Here</a></h5>
          <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
          <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i> <span class="regular-price">$800.99</span></p>
       </div>
       <div class="cart-list-product">
          <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
          <img class="img-fluid" src="img/item/7.jpg" alt="">
          <span class="badge badge-success">50% OFF</span>
          <h5><a href="#">Product Title Here</a></h5>
          <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
          <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i> <span class="regular-price">$800.99</span></p>
       </div>
       <div class="cart-list-product">
          <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
          <img class="img-fluid" src="img/item/9.jpg" alt="">
          <span class="badge badge-success">50% OFF</span>
          <h5><a href="#">Product Title Here</a></h5>
          <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
          <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i> <span class="regular-price">$800.99</span></p>
       </div>
       <div class="cart-list-product">
          <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
          <img class="img-fluid" src="img/item/1.jpg" alt="">
          <span class="badge badge-success">50% OFF</span>
          <h5><a href="#">Product Title Here</a></h5>
          <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
          <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i> <span class="regular-price">$800.99</span></p>
       </div>
       <div class="cart-list-product">
          <a class="float-right remove-cart" href="#"><i class="mdi mdi-close"></i></a>
          <img class="img-fluid" src="img/item/2.jpg" alt="">
          <span class="badge badge-success">50% OFF</span>
          <h5><a href="#">Product Title Here</a></h5>
          <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
          <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i> <span class="regular-price">$800.99</span></p>
       </div>
    </div>
    <div class="cart-sidebar-footer">
       <div class="cart-store-details">
          <p>Sub Total <strong class="float-right">$900.69</strong></p>
          <p>Delivery Charges <strong class="float-right text-danger">+ $29.69</strong></p>
          <h6>Your total savings <strong class="float-right text-danger">$55 (42.31%)</strong></h6>
       </div>
       <a href="checkout.html"><button class="btn btn-secondary btn-lg btn-block text-left" type="button"><span class="float-left"><i class="mdi mdi-cart-outline"></i> Proceed to Checkout </span><span class="float-right"><strong>$1200.69</strong> <span class="mdi mdi-chevron-right"></span></span></button></a>
    </div>
 </div>