<section>  
    <div class="container" >
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header" style="background-color: #f8f9d2;
                    background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);">
                        <h4 class="text-center font-weight-light">Change Password</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label>Old Password<span style="color: red;">*</span></label>
                                <input type="password" name= "oldPassword"Place holder="Enter Old Password" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>New Password<span style="color: red;">*</span></label>
                                <input type="password" name="newPassword" Place holder="Enter New Password" class="form-control" />
                                <div class="form-group ">
                                    <label>Confirm Password<span style="color: red;">*</span></label>
                                    <input type="password" name="confirmPassword" Place holder="Enter Confirm Password" class="form-control" />
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn square_btn btn-lg btn-block login-button">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  
<section><div class="mt-5"></div></section>
<section class="section-padding bg-white border-top">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-truck-fast"></i>
                <h6>Free & Next Day Delivery</h6>
                <p>Lorem ipsum dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-basket"></i>
                <h6>100% Satisfaction Guarantee</h6>
                <p>Rorem Ipsum Dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-tag-heart"></i>
                <h6>Great Daily Deals Discount</h6>
                <p>Sorem Ipsum Dolor sit amet, Cons...</p>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section>
    <app-footer></app-footer>
  </section> 
  <!-- Copyright -->
  <section class="pt-4 pb-4 footerr footer-bottom" >
     <div class="container">
        <div class="row no-gutters">
           <div class="col-lg-6 col-sm-6">
              <p class="mt-1 mb-0">&copy; Copyright 2021 <strong class="text-dark">MSN STORES</strong>. All Rights Reserved<br></p>
           </div>
           <!-- <div class="col-lg-6 col-sm-6 text-right">
              <img alt="osahan logo" src="assets/img/payment_methods.png">
           </div> -->
        </div>
     </div>
  </section>
  <!-- End Copyright -->