<section>    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header" style="background-color: #f8f9d2;
                    background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);">
                        <h4 class="text-center font-weight-light">Message !!!</h4>
                    </div>
                    <div class="card-body">
                        <p style="font-size: 15px;font-weight: 500; color:black;"> Your forgot password is in under processing with asm. We send an Email which contains the reset password link to your given register mail-id.
                             so please visit your mail account.</p>
                        <img style="width: 25%; margin-left: auto; margin-right: auto; display: block;" src="assets/img/smile.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section><div class="mt-5"></div></section>
<section class="section-padding bg-white border-top">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-truck-fast"></i>
                <h6>Free & Next Day Delivery</h6>
                <!-- <p>Lorem ipsum dolor sit amet, cons...</p> -->
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-basket"></i>
                <h6>100% Satisfaction Guarantee</h6>
                
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-tag-heart"></i>
                <h6>Great Daily Deals Discount</h6>                
             </div>
          </div>
       </div>
    </div>
 </section>
 <section>
<app-footer></app-footer>
</section>