<section class="account-page section-padding">
    <div class="container">
       <div class="row">
          <div class="col-lg-9 mx-auto">
             <div class="row no-gutters">
                <div class="col-md-4">
                   <div class="card account-left">
                      <div class="user-profile-header">
                         <img alt="logo" src="assets/img/user.jpg">
                         <h5 class="mb-1 text-secondary" style="text-transform: capitalize;"><strong>Hi </strong>{{asmCustomerService.getFirstName()}}</h5>
                         <p> {{asmCustomerService.getMobile()}}</p>
                      </div>
                      <div class="list-group">
                        <a routerLink="/my-profile" class="list-group-item list-group-item-action "><i aria-hidden="true" class="mdi mdi-account-outline"></i>  My Profile</a>
                        <a routerLink="/my-address" class="list-group-item list-group-item-action active"><i aria-hidden="true" class="mdi mdi-map-marker-circle"></i>  My Address</a>
                        <!-- <a routerLink="/wishlist" class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-heart-outline"></i>  Wish List </a> -->
                        <a routerLink="/orderlist" class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-format-list-bulleted"></i>  Order List</a> 
                        <a routerLink="/logout" class="list-group-item list-group-item-action" (click)="onLogout()"><i aria-hidden="true" class="mdi mdi-lock"></i>  Logout</a> 
                      </div>
                   </div>
                </div>
                <div class="col-md-8">
                   <div class="card card-body account-right">
                      <div class="widget">
                         <div class="section-header">
                            <h5 class="heading-design-h5">
                               Contact Address
                            </h5>
                         </div>
                         <form>
                            <div class="row">
                               <div class="col-sm-12">
                                  <div class="form-group">
                                     <label class="control-label">FLAT Number / Floor <span class="required">*</span></label>
                                     <input class="form-control border-form-control"  value="{{customer_address?.addr_field1}}" type="text" disabled>
                                  </div>
                               </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12">
                                 <div class="form-group">
                                    <label class="control-label">House Number / Block Number / Plot Number <span class="required">*</span></label>
                                    <input class="form-control border-form-control" value="{{customer_address?.addr_field2}}" type="text" disabled>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-12">
                                 <div class="form-group">
                                    <label class="control-label">House Name / Apartment Name <span class="required">*</span></label>
                                    <input class="form-control border-form-control" value="{{customer_address?.addr_field3}}" type="text" disabled>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-12">
                                 <div class="form-group">
                                    <label class="control-label">Street Name  <span class="required">*</span></label>
                                    <input class="form-control border-form-control" value="{{customer_address?.addr_field4}}" type="text" disabled>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-12">
                                 <div class="form-group">
                                    <label class="control-label">Landmark <span class="required">*</span></label>
                                    <input class="form-control border-form-control" value="{{customer_address?.addr_field5}}" type="text" disabled>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-12">
                                 <div class="form-group">
                                    <label class="control-label">Area / Location <span class="required">*</span></label>
                                    <input class="form-control border-form-control" value="{{customer_address?.addr_field6}}" type="text" disabled>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-12">
                                 <div class="form-group">
                                    <label class="control-label">Pin Code <span class="required">*</span></label>
                                    <input class="form-control border-form-control" value="{{customer_address?.pin_code}}" type="text" disabled>
                                 </div>
                              </div>
                           </div>
                           
                            <div class="row">
                               <div class="col-sm-12 text-right">
                                  
                                  <button type="button" class="btn btn-success btn-lg" data-toggle="tooltip" data-placement="top"  
                                       data-original-title="View Detail"  data-toggle="modal" data-target="#myModal" 
                                       style="margin-right: 20px;" (click)="showEditAddress()"> Edit Address </button>
                               </div>
                            </div>
                         </form>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div>
      <button type="button" class="goto-top" (click)="gotoTop()"><span class="mdi mdi-chevron-up"></span></button>
   </div>
 </section>
 <section class="section-padding bg-white border-top">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-truck-fast"></i>
                <h6>Free & Next Day Delivery</h6>
                <p>Lorem ipsum dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-basket"></i>
                <h6>100% Satisfaction Guarantee</h6>
                <p>Rorem Ipsum Dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-tag-heart"></i>
                <h6>Great Daily Deals Discount</h6>
                <p>Sorem Ipsum Dolor sit amet, Cons...</p>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section>
   <app-footer></app-footer>
 </section> 
 <!-- The Modal-->
 <div class="modal" id="myModal">
   <div class="modal-dialog modal-lg" style=" max-width: 979px !important">
     <div class="modal-content">
 
       <!-- Modal Header -->
       <div class="modal-header">
          <div class="row">
             <div class="col-md-12"><h4 class="modal-title">My Edit Profile:</h4>
               
         </div>
             
          </div>
         
         <button type="button" class="close" id="closeModal" data-dismiss="modal">&times;</button>
       </div>
 
       <!-- Modal body -->
       <div class="modal-body">
         <form>           
            <div class="col-md-12">
               <div class="card card-body account-right" style="background-color: #eee;">
                  <div class="widget">
                     
                     <form  #addressUpdate='ngForm' novalidate>
                        <div class="row">
                           <div class="col-sm-8 offset-2">
                              <div class="form-group">
                                 <label class="control-label">FLAT Number / Floor<span class="required">*</span></label>
                                 <input class="form-control border-form-control"   type="text" 
                                        name="addr_field1" #addr_field1 = "ngModel" [(ngModel)]="temp_customer_address.addr_field1"
                                        [ngClass]="{'is-invalid':addressUpdate.submitted && addr_field1.invalid}" required /> 
                                 <div *ngIf="addr_field1.invalid && (addr_field1.dirty || addr_field1.touched)" class="alert alert-danger">
                                          <div *ngIf="addr_field1.errors.required">addr_field1 is required. </div>
                                       </div>
                                 <!--value="{{customer_address.addr_field1}}"-->
                                 
                              </div>
                           </div>
                           </div>
                           <div class="row">
                           <div class="col-sm-8 offset-2">
                              <div class="form-group">
                                 <label class="control-label">House Number / Block Number / Plot Number <span class="required">*</span></label>
                                 <input class="form-control border-form-control"   type="text" 
                                 name="addr_field2" #addr_field2 = "ngModel" [(ngModel)]="temp_customer_address.addr_field2"
                                 [ngClass]="{'is-invalid':addressUpdate.submitted && addr_field2.invalid}" required /> 
                                 <div *ngIf="addr_field2.invalid && (addr_field2.dirty || addr_field2.touched)" class="alert alert-danger">
                                          <div *ngIf="addr_field2.errors.required">addr_field2 is required. </div>
                                       </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-8 offset-2">
                              <div class="form-group">
                                 <label class="control-label">House Name / Apartment Name <span class="required">*</span></label>
                                 <input class="form-control border-form-control"  type="text"
                                  name="addr_field3" #addr_field3 = "ngModel" [(ngModel)]="temp_customer_address.addr_field3" 
                                 [ngClass]="{'is-invalid':addressUpdate.submitted && addr_field3.invalid}" required /> 
                                 <div *ngIf="addr_field3.invalid && (addr_field3.dirty || addr_field3.touched)" class="alert alert-danger">
                                          <div *ngIf="addr_field3.errors.required">addr_field3 is required. </div>
                                       </div>
                              </div>
                           </div>
                           </div>
                           <div class="row">
                           <div class="col-sm-8 offset-2">
                              <div class="form-group">
                                 <label class="control-label">Street Name <span class="required">*</span></label>
                                 <input class="form-control border-form-control "   type="text" 
                                 name="addr_field4" #addr_field4 = "ngModel" [(ngModel)]="temp_customer_address.addr_field4"
                                 [ngClass]="{'is-invalid':addressUpdate.submitted && addr_field4.invalid}" required /> 
                                 <div *ngIf="addr_field4.invalid && (addr_field4.dirty || addr_field4.touched)" class="alert alert-danger">
                                          <div *ngIf="addr_field4.errors.required">addr_field4 is required. </div>
                                       </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-8 offset-2">
                              <div class="form-group">
                                 <label class="control-label">Landmark <span class="required">*</span></label>
                                 <input class="form-control border-form-control "   type="text" 
                                 name="addr_field5" #addr_field5 = "ngModel" [(ngModel)]="temp_customer_address.addr_field5"
                                 [ngClass]="{'is-invalid':addressUpdate.submitted && addr_field5.invalid}" required /> 
                                 <div *ngIf="addr_field5.invalid && (addr_field5.dirty || addr_field5.touched)" class="alert alert-danger">
                                          <div *ngIf="addr_field5.errors.required">addr_field5 is required. </div>
                                       </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-8 offset-2">
                              <div class="form-group">
                                 <label class="control-label">Area / Location<span class="required">*</span></label>
                                 <input class="form-control border-form-control "   type="text" 
                                 name="addr_field6" #addr_field6 = "ngModel" [(ngModel)]="temp_customer_address.addr_field6"
                                 [ngClass]="{'is-invalid':addressUpdate.submitted && addr_field6.invalid}" required /> 
                                 <div *ngIf="addr_field6.invalid && (addr_field6.dirty || addr_field6.touched)" class="alert alert-danger">
                                          <div *ngIf="addr_field6.errors.required">addr_field6 is required. </div>
                                       </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-8 offset-2">
                              <div class="form-group">
                                 <label class="control-label">Pin Code<span class="required">*</span></label>
                                 <input class="form-control border-form-control "   type="text" 
                                 name="pin_code" #pin_code = "ngModel" [(ngModel)]="temp_customer_address.pin_code"
                                 [ngClass]="{'is-invalid':addressUpdate.submitted && pin_code.invalid}" required /> 
                                 <div *ngIf="pin_code.invalid && (pin_code.dirty || pin_code.touched)" class="alert alert-danger">
                                          <div *ngIf="pin_code.errors.required">pin_code is required. </div>
                                       </div>
                              </div>
                           </div>
                        </div>
                        <br>
                        
                        <div class="row">
                           <div class="col-sm-12 offset-6">                              
                              <button type="button" class="btn btn-danger btn-lg" style="margin-right: 20px;margin-left: 7.5%;" data-dismiss="modal"> Cancel </button>
                              <button type="button" class="btn btn-success btn-lg" [disabled]="!addressUpdate.valid" (click)="updateUserAddress()"> Save Changes </button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </form>           
   </div>
 
        
     </div>
   </div>
 </div>