.my-login-modal{
    background-color: rgb(0, 0, 0, 0.7);
    position: fixed;
    z-index: 1028;
    width: 100%;
    height: 100%;
  }  
 .square_btn{
    display: inline-block;
    /* padding: 0.5em 4em; */
    padding : 10px 30px;
    text-decoration: none;
    margin-top: 14px;
    border-radius: 10px;
    vertical-align: middle;
    overflow: hidden;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    color:white;
    background: linear-gradient(to right, #A8DE1C 0%, #50AC02 100%);
    /* background: #5A6268; */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    /* border-bottom: solid 3px #c58668; */
  }  
  .square_btn:active{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
  .square_btn:hover{
    color:#fff;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);    
  }
  .goto-top {
    background-color:#000;
    border:1px solid #fff;
    border-radius: 10%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 50px;
    height: 50px;
    float: right;
    margin-top: -13px;
    margin-right: 10px;
  }
  .goto-top:hover { 
    background-color: #fc9000;  
    border:1px solid #1d1f1f;
  }