<section class="pt-3 pb-3 page-info section-padding border-bottom bg-white">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <a href="#"><strong><span class="mdi mdi-home"></span> Home</strong></a> <span class="mdi mdi-chevron-right"></span> <a href="#">Cart</a>
          </div>
       </div>
    </div>
 </section>
 <section class="cart-page section-padding">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="card card-body cart-table">
                <div class="table-responsive">
                   <table class="table cart_summary">
                      <thead>
                         <tr>
                            <th class="cart_product">Product</th>
                            <th>Description</th>
                            <th>Avail.</th>
                            <th>Unit price</th>
                            <th>Qty</th>
                            <th>Total</th>
                            <th class="action"><i class="mdi mdi-delete-forever"></i></th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr *ngFor = "let cartItem of aserv.getCartList()">
                            <td class="cart_product"><a href="#"><img class="img-fluid" src="assets{{cartItem.product_img}}" alt=""></a></td>
                            <td class="cart_description">
                               <h5 class="product-name"><a href="#">{{cartItem.product_name}} </a></h5>
                               <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                            </td>
                            <td class="availability in-stock"><span class="badge badge-success">In stock</span></td>
                            <td class="price"><span>Rs.{{cartItem.sale_price}}</span></td>
                            <td class="qty">
                               <div class="input-group">
                                  <span class="input-group-btn"><button  class="btn btn-theme-round btn-number" type="button" (click)="decrementQuantityByOne(cartItem)">-</button></span>
                                  <input type="text" max="10" min="1" value={{cartItem.quantity}} class="form-control border-form-control form-control-sm input-number" name="quant[1]" disabled>
                                  <span class="input-group-btn"><button class="btn btn-theme-round btn-number" type="button" (click)="incrementQuantityByOne(cartItem)">+</button>
                                  </span>
                               </div>
                            </td>
                            <td class="price"><span>Rs.{{cartItem.total}}</span></td>
                            <td class="action">
                               <a class="btn btn-sm btn-danger" data-original-title="Remove"  title="" data-placement="top" data-toggle="tooltip" (click)="removeProduct(cartItem)"><i class="mdi mdi-close-circle-outline"></i></a>
                               <!--routerLink="/cart"-->
                            </td>
                         </tr>                       
                         
                      </tbody>
                      <tfoot>
                         <tr>
                            <td colspan="1"></td>
                            <td colspan="4">
                               <!-- <form class="form-inline float-right">
                                  <div class="form-group">
                                     <input type="text" placeholder="Enter discount code" class="form-control border-form-control form-control-sm">
                                  </div>
                                  &nbsp;
                                  <button class="btn btn-success float-left btn-sm" type="submit">Apply</button>
                               </form> -->
                            </td>
                            <td colspan="2">Discount : {{aserv.getCartDiscountPrice()}} </td>
                         </tr>
                         <tr>
                            <td colspan="2"></td>
                            <td class="text-right"  colspan="3">Total products (tax incl.)</td>
                            <td colspan="2">$437.88 </td>
                         </tr>
                         <tr>
                            <td class="text-right" colspan="5"><strong>Total</strong></td>
                            <td class="text-danger" colspan="2"><strong>Rs. {{aserv.getCartTotalPrice()}} </strong></td>
                         </tr>
                      </tfoot>
                   </table>
                </div>
                <a routerLink="checkout"><button class="btn btn-secondary btn-lg btn-block text-left" type="button"><span class="float-left"><i class="mdi mdi-cart-outline"></i> Proceed to Checkout </span><span class="float-right"><strong>$1200.69</strong> <span class="mdi mdi-chevron-right"></span></span></button></a>
             </div>
             
          </div>
       </div>
    </div>
 </section>
 <section class="section-padding bg-white border-top">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-truck-fast"></i>
                <h6>Free & Next Day Delivery</h6>
                <p>Lorem ipsum dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-basket"></i>
                <h6>100% Satisfaction Guarantee</h6>
                <p>Rorem Ipsum Dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-tag-heart"></i>
                <h6>Great Daily Deals Discount</h6>
                <p>Sorem Ipsum Dolor sit amet, Cons...</p>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="pt-4 pb-4 footer-bottom">
    <div class="container">
       <div class="row no-gutters">
          <div class="col-lg-6 col-sm-6">
             <p class="mt-1 mb-0">&copy; Copyright 2020 <strong class="text-dark">Groci</strong>. All Rights Reserved<br>
             <small class="mt-0 mb-0">Made with <i class="mdi mdi-heart text-danger"></i> by <a href="https://askbootstrap.com/" target="_blank" class="text-primary">Ask Bootstrap</a>
             </small>
             </p>
          </div>
          <div class="col-lg-6 col-sm-6 text-right">
             <img alt="osahan logo" src="assets/img/payment_methods.png">
          </div>
       </div>
    </div>
 </section>