
      <!-- Inner Header -->
      <section class="section-padding bg-dark inner-header">
        <div class="container">
           <div class="row">
              <div class="col-md-12 text-center">
                 <h1 class="mt-0 mb-3 text-white">Privacy & Policy</h1>
                 <div class="breadcrumbs">
                    <p class="mb-0 text-white"><a class="text-white" routerLink="/home">Home</a>  /  <span class="text-success">Privacy & Policy</span></p>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- End Inner Header -->
     <!-- About -->
     <section class="section-padding bg-white">
        <div class="container">
           <div class="row">
              
              <div class="col-lg-12 col-md-12 pl-12 pr-6">
                 
                 
                 <p style="color: #333;font-size: 14px;text-align: justify;font-weight: 500;">
                    This Privacy Policy is an electronic record in the form of an electronic contract formed under the information Technology Act, 2000 and the rules made thereunder and the amended provisions pertaining to electronic documents / records in various statutes as amended by the information Technology Act, 2000. This Privacy Policy does not require any physical, electronic or digital signature.
                    This document is published and shall be construed in accordance with the provisions of the Information Technology (reasonable security practices and procedures and sensitive personal data of information) rules, 2011 under Information Technology Act, 2000; that require publishing of the Privacy Policy for collection, use, storage and transfer of sensitive personal data or information.
                    Please read this Privacy Policy carefully by using the Website, you indicate that you understand, agree and consent to this Privacy Policy. If you do not agree with the terms of this Privacy Policy, please do not use this Website.
                    By providing us your Information or by making use of the facilities provided by the Website, You hereby consent to the collection, storage, processing and transfer of any or all of Your Personal Information and Non-Personal Information by us as specified under this Privacy Policy. You further agree that such collection, use, storage and transfer of Your Information shall not cause any loss or wrongful gain to you or any other person.
                    This privacy notice reveals the privacy practices for aswikamart.com.<br>
                    This privacy notice applies exclusively to data gathered by this site. It notifies you the following:<br>
                    1. What identifiable information is taken from you through the site, how it is utilized and with whom it might be shared.<br>
                    2.   What choices are there for you with respect to the utilization of your information.<br>
                    3. The security methodology set up to ensure that there is no abuse of your data.<br>
                    4.   How you can revise any error in the data. 

                   </p>
                    
                    <h5 class="mt-2 text-secondary" style="font-weight: 500;">Data Collection, Use, and Sharing:</h5>
                    <p style="color: #333;font-size: 14px;text-align: justify;font-weight: 500;">
                        We are the sole proprietors of the data collected on this site. We just gather data that you intentionally give us by means of email or other direct contact from you. We will utilize your data to connect with you, with respect to the reason you reach us, and to reach you with any of our fabulous gifts & offers, or to also facilitate you delivery better . We won't impart your data to any outsider outside of our association, other than as an important necessity to satisfy your demand, e.g. to deliver a request.
                        Unless you ask us not to, we may get in touch with you by means of email later on to enlighten you regarding specials, new items or administrations, or changes to this privacy approach.
                        You may quit any future contacts from us at any time. You can have the access of the following by contacting us through the email address or contact number given on our site:
                        1.   See what information we have about you
                        2. Change/amend any information we have about you.
                        3. Have we removed any information about you.
                        4. aswikamart any worry you have about our utilization of your information.
                    </p>
                    
                    <h5 class="mt-2 text-secondary" style="font-weight: 500;">Security: </h5>
                    <p style="color: #333;font-size: 14px;text-align: justify;font-weight: 500;">All information gathered on our Website is securely stored within our controlled database. The database is stored on servers secured behind a firewall; access to the servers is password-protected and is strictly limited. However, as effective as our security measures are, no security system is impenetrable. We cannot guarantee the security of our database, nor can we guarantee that information you supply will not be intercepted while being transmitted to us over the Internet. And, of course, any information you include in a posting to the discussion areas is available to anyone with Internet access.
                    </p>
                    
                    <h5 class="mt-2 text-secondary" style="font-weight: 500;">Enrollment:</h5>
                    
                    <p style="color: #333;font-size: 14px;text-align: justify;font-weight: 500;">
                        With a specific end goal to utilize this site, user should first complete the enrolment form. During this the user is required to give certain information like name and email address. This data is utilized to reach you about the items/benefits on our site for which you have shown interest. On the off chance that you take and take care of requests on your site, embed a section like this in your protection take note.</p>
                    
                    <h5 class="mt-2 text-secondary" style="font-weight: 500;">COOKIES:</h5>
                    <p style="color: #333;font-size: 14px;text-align: justify;font-weight: 500;">
                    
                        To improve the responsiveness of the sites for our users, we may use "cookies", or similar electronic tools to collect information to assign each visitor a unique, random number as a User Identification (User ID) to understand the user's individual interests using the Identified Computer. Unless you voluntarily identify yourself (through registration, for example), we will have no way of knowing who you are, even if we assign a cookie to your computer. The only personal information a cookie can contain is information you supply (an example of this is when you ask for our Personalised Horoscope). A cookie cannot read data off your hard drive. Our advertisers may also assign their own cookies to your browser (if you click on their ads), a process that we do not control.</p>
                    
                    <h5 class="mt-2 text-secondary" style="font-weight: 500;">Orders:</h5>
                    <p style="color: #333;font-size: 14px;text-align: justify;font-weight: 500;">
                    
                        We ask for data from you on our order form. To purchase from us, you should give contact information (like name and delivering address) and payment information (like Card number, lapse date). This information is utilized for billing purposes and to dispatch your requests. In the event where we experience difficulty preparing a request, we'll utilize this data to get in touch with you.</p>
                    
                    <h5 class="mt-2 text-secondary" style="font-weight: 500;">Grievance Redressal:</h5>
                    <p style="color: #333;font-size: 14px;text-align: justify;font-weight: 500;">
                    
                        Redressal Mechanism: Any complaints, abuse or concerns with regards to content and or comment or breach of these terms shall be immediately informed to the designated Grievance Officer as mentioned below via in writing or through email to: info@aswikamart.com OR support@aswikamart.com
                   </p>
                
              </div>
           </div>
        </div>
     </section>
     <!-- End About -->
     
     <section class="section-padding bg-white border-top" style="background: radial-gradient(orange, transparent);">
        <div class="container">
           <div class="row">
              <div class="col-lg-4 col-sm-6">
                 <div class="feature-box">
                    <i class="mdi mdi-truck-fast" style="color : #3a0808;border :1px solid #3a0808; border-style: dotted;"></i>
                    <h6 style="font-weight: 500;">Free & Next Day Delivery</h6>
                    <!-- <p>Lorem ipsum dolor sit amet, cons...</p> -->
                 </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                 <div class="feature-box">
                    <i class="mdi mdi-basket"style="color : #3a0808;border :1px solid #3a0808;"></i>
                    <h6 style="font-weight: 500;">100% Satisfaction Guarantee</h6>               
                 </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                 <div class="feature-box">
                    <i class="mdi mdi-tag-heart" style="color : #3a0808;border :1px solid #3a0808;"></i>
                    <h6 style="font-weight: 500;">Great Daily Deals Discount</h6>               
                 </div>
              </div>
           </div>
        </div>
        <div>
           <button type="button" class="goto-top" (click)="gotoTop()"><span class="mdi mdi-chevron-up"></span></button>
        </div>
     </section>
      <section>
        <app-footer></app-footer>
      </section> 
      <!-- Copyright -->
      <section class="pt-4 pb-4 footerr footer-bottom" >
         <div class="container">
            <div class="row no-gutters">
               <div class="col-lg-6 col-sm-6">
                  <p class="mt-1 mb-0">&copy; Copyright 2021 <strong class="text-dark">ASWIKA STORES</strong>. All Rights Reserved<br></p>
               </div>
              
            </div>
         </div>
      </section>
      <!-- End Copyright -->