<section class="account-page section-padding">
    <div class="container">
       <div class="row">
          <div class="col-lg-9 mx-auto">
             <div class="row no-gutters">
                <div class="col-md-4">
                   <div class="card account-left">
                      <div class="user-profile-header">
                         <img alt="logo" src="assets/img/user.jpg">
                         <h5 class="mb-1 text-secondary" style="text-transform: capitalize;"><strong>Hi </strong>{{asmCustomerService.getFirstName()}}</h5>
                         <p> {{asmCustomerService.getMobile()}}</p>
                      </div>
                      <div class="list-group">
                         <a routerLink="/my-profile" class="list-group-item list-group-item-action active"><i aria-hidden="true" class="mdi mdi-account-outline"></i>  My Profile</a>
                         <a routerLink="/my-address" class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-map-marker-circle"></i>  My Address</a>
                         <!-- <a routerLink="/wishlist" class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-heart-outline"></i>  Wish List </a> -->
                         <a routerLink="/orderlist" class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-format-list-bulleted"></i>  Order List</a> 
                         <a routerLink="/logout" class="list-group-item list-group-item-action" (click)="onLogout()"><i aria-hidden="true" class="mdi mdi-lock"></i>  Logout</a> 
                      </div>
                   </div>
                </div>
                <div class="col-md-8">
                   <div class="card card-body account-right">
                      <div class="widget">
                         <div class="section-header">
                            <h5 class="heading-design-h5">
                               My Profile
                            </h5>
                         </div>
                         <!-- <form> -->
                            <div class="row">
                               <div class="col-sm-12">
                                  <div class="form-group">
                                     <label class="control-label">First Name <span class="required">*</span></label>
                                     <input class="form-control border-form-control" value="{{customer.first_name}}"   type="text" disabled>
                                  </div>
                               </div>
                               </div>
                               <div class="row">
                               <div class="col-sm-12">
                                  <div class="form-group">
                                     <label class="control-label">Last Name <span class="required">*</span></label>
                                     <input class="form-control border-form-control" value="{{customer.last_name}}" placeholder="Osahan" type="text" disabled>
                                  </div>
                               </div>
                            </div>
                            <div class="row">
                               <div class="col-sm-12">
                                  <div class="form-group">
                                     <label class="control-label">Phone <span class="required">*</span></label>
                                     <input class="form-control border-form-control" value="{{customer.mobile}}" placeholder="123 456 7890" type="number" disabled>
                                  </div>
                               </div>
                               </div>
                               <div class="row">
                               <div class="col-sm-12">
                                  <div class="form-group">
                                     <label class="control-label">Email Address <span class="required">*</span></label>
                                     <input class="form-control border-form-control " value="{{customer.email_id}}" placeholder="iamosahan@gmail.com" disabled="" type="email">
                                  </div>
                               </div>
                            </div>
                            
                            <div class="row">
                               <div class="col-sm-12 text-right">
                                  <button type="button" class="btn btn-success btn-lg" data-toggle="tooltip" data-placement="top"  data-original-title="View Detail"  data-toggle="modal" data-target="#myModal" style="margin-right: 20px;"> Edit </button>
                                  
                               </div>
                            </div>
                         <!-- </form> -->
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="section-padding bg-white border-top">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-truck-fast"></i>
                <h6>Free & Next Day Delivery</h6>
                <p>Lorem ipsum dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-basket"></i>
                <h6>100% Satisfaction Guarantee</h6>
                <p>Rorem Ipsum Dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-tag-heart"></i>
                <h6>Great Daily Deals Discount</h6>
                <p>Sorem Ipsum Dolor sit amet, Cons...</p>
             </div>
          </div>
       </div>
    </div>
    <div>
      <button type="button" class="goto-top" (click)="gotoTop()"><span class="mdi mdi-chevron-up"></span></button>
   </div>
 </section>
 <section>
   <app-footer></app-footer>
 </section> 
 <!-- The Modal-->
 <div class="modal" id="myModal">
   <div class="modal-dialog modal-lg" style=" max-width: 979px !important">
     <div class="modal-content">
 
       <!-- Modal Header -->
       <div class="modal-header">
          <div class="row">
             <div class="col-md-12"><h4 class="modal-title">My Edit Profile:</h4>
               
         </div>
             
          </div>
         
         <button type="button" id="closeModal" class="close" data-dismiss="modal">&times;</button>
       </div>
 
       <!-- Modal body -->
       <div class="modal-body">
         <!-- <form>            -->
            <div class="col-md-12">
               <div class="card card-body account-right" style="background-color: #eee;">
                  <div class="widget">
                     
                     <form name="form" (ngSubmit)="updateUserProfile()" #profileUpdate='ngForm' novalidate>

                        <div class="row">
                           <div class="col-sm-8 offset-2">
                              <div class="form-group">
                                 <label class="control-label">First Name <span class="required">*</span></label>
                                 <!-- <input type="text" name="eno" #eno ngModel required> -->
                                 <input class="form-control border-form-control"  type="text" id="first_name" name="first_name" #first_name = "ngModel"
                                        [(ngModel)]="model.first_name" placeholder="{{customer.first_name}}"
                                        [ngClass]="{'is-invalid':profileUpdate.submitted && first_name.invalid}" required />
                                       <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)"
                                          class="alert alert-danger">
                                          <div *ngIf="first_name.errors.required">first_name is required. </div>
                                       </div>
                              </div>
                           </div>
                           </div>
                           <div class="row">
                           <div class="col-sm-8 offset-2">
                              <div class="form-group">
                                 <label class="control-label">Last Name <span class="required">*</span></label>
                                 <input class="form-control border-form-control" type="text" id="last_name" name="last_name"  #last_name = "ngModel"
                                       [(ngModel)]="model.last_name" 
                                       [ngClass]="{'is-invalid':profileUpdate.submitted && last_name.invalid}" required />
                                       <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)"
                                          class="alert alert-danger">
                                          <div *ngIf="last_name.errors.required">last_name is required. </div>
                                       </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-8 offset-2">
                              <div class="form-group">
                                 <label class="control-label">Phone <span class="required">*</span></label>
                                 <input class="form-control border-form-control" type="number" id="mobile" name="mobile" #mobile = "ngModel"
                                       [(ngModel)]="model.mobile"
                                       [ngClass]="{'is-invalid':profileUpdate.submitted && mobile.invalid}" required />
                                       <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)"
                                          class="alert alert-danger">
                                          <div *ngIf="mobile.errors.required">mobile is required. </div>
                                       </div>
                              </div>
                           </div>
                           </div>
                           <div class="row">
                           <div class="col-sm-8 offset-2">
                              <div class="form-group">
                                 <label class="control-label">Email Address <span class="required">*</span></label>
                                 <input class="form-control border-form-control" type="email"  id ="email_id"name="email_id" #email_id = "ngModel"
                                       [(ngModel)]="model.email_id" 
                                       [ngClass]="{'is-invalid':profileUpdate.submitted && email_id.invalid}" required />
                                       <div *ngIf="email_id.invalid && (email_id.dirty || email_id.touched)"
                                          class="alert alert-danger">
                                          <div *ngIf="email_id.errors.required">Email is required. </div>
                                       </div>
                              </div>
                           </div>
                        </div>
                        <br>
                        
                        <div class="row">
                           <div class="col-sm-12 offset-6">                              
                              <button type="button" class="btn btn-danger btn-lg" style="margin-right: 20px;margin-left: 7.5%;" data-dismiss="modal"> Cancel </button>
                              <button  class="btn btn-success btn-lg"  [disabled]="!profileUpdate.valid"> Save Changes </button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         <!-- </form>            -->
   </div>
 
        
     </div>
   </div>
 </div>