<section class="account-page section-padding">
    <div class="container">
       <div class="row">
          <div class="col-lg-9 mx-auto">
             <div class="row no-gutters">
                <div class="col-md-4">
                   <div class="card account-left">
                      <div class="user-profile-header">
                         <img alt="logo" src="img/user.jpg">
                         <h5 class="mb-1 text-secondary"><strong>Hi </strong> OSAHAN</h5>
                         <p> +91 8568079956</p>
                      </div>
                      <div class="list-group">
                         <a routerLink="/my-profile" class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-account-outline"></i>  My Profile</a>
                         <a routerLink="/my-address" class="list-group-item list-group-item-action active"><i aria-hidden="true" class="mdi mdi-map-marker-circle"></i>  My Address</a>
                         <a routerLink="/wishlist" class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-heart-outline"></i>  Wish List </a>
                         <a routerLink="/orderlist" class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-format-list-bulleted"></i>  Order List</a> 
                         <a routerLink="/change-password" class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-lock"></i>Change Password</a>
                         <a routerLink="/logout" class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-lock"></i>  Logout</a> 
                      </div>
                   </div>
                </div>
                <div class="col-md-8">
                   <div class="card card-body account-right">
                      <div class="widget">
                         <div class="section-header">
                            <h5 class="heading-design-h5">
                               Change Password
                            </h5>
                         </div>
                         <form [formGroup]= "changePasswordForm" (ngSubmit)="onSubmit()"  class="form-horizontal">

                           <div class="form-group">
                              <label for="password" class="cols-sm-2 control-label">Old Password:<span style="color: red;">*</span></label>
                              <div class="cols-sm-10">
                                  <div class="input-group">
                                      <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                      <input type="password" class="form-control" formControlName="old_password" name="old_password" id="old_password" placeholder="Enter your Password" 
                                      [ngClass]="{'is-invalid': changePasswordForm.get('old_password').touched  && changePasswordForm.get('old_password').invalid }" />                                        
                                      <div *ngIf="changePasswordForm.get('old_password').touched  && changePasswordForm.get('old_password').invalid" class="invalid-feedback">
                                          <div *ngIf = "changePasswordForm.get('old_password').errors.required"> Old password is required.</div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                           <div class="form-group">
                              <label for="password" class="cols-sm-2 control-label">New Password:<span style="color: red;">*</span></label>
                              <div class="cols-sm-10">
                                  <div class="input-group">
                                      <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                      <input type="password" class="form-control" formControlName="new_password" name="new_password" id="password" placeholder="Enter your Password" 
                                      [ngClass]="{'is-invalid': changePasswordForm.get('new_password').touched  && changePasswordForm.get('new_password').invalid }" />                                        
                                      <div *ngIf="changePasswordForm.get('new_password').touched  && changePasswordForm.get('new_password').invalid" class="invalid-feedback">
                                          <div *ngIf = "changePasswordForm.get('new_password').errors.required"> password is required.</div>
                                          <div *ngIf = "changePasswordForm.get('new_password').errors.minlength || changePasswordForm.get('new_password').errors.maxlength"> password  is must be greater than 6 characters and less than 8 characters.</div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="confirm" class="cols-sm-2 control-label">Confirm Password:<span style="color: red;">*</span></label>
                              <div class="cols-sm-10">
                                  <div class="input-group">
                                      <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                      <input type="password" class="form-control" formControlName = "confirm_password" name="confirm_password" id="confirm_password" placeholder="Confirm your Password" 
                                      [ngClass]="{'is-invalid': changePasswordForm.get('confirm_password').touched  && changePasswordForm.get('confirm_password').invalid }" />                                        
                                      <div *ngIf="changePasswordForm.get('confirm_password').touched  && changePasswordForm.get('confirm_password').invalid" class="invalid-feedback">
                                          <div *ngIf = "changePasswordForm.get('confirm_password').errors.required"> confirm password is required.</div>
                                          <div *ngIf = "changePasswordForm.get('confirm_password').errors.minlength || changePasswordForm.get('confirm_password').errors.maxlength"> confirm password  is must be greater than 6 characters and less than 8 characters.</div>
                                          <div *ngIf = "changePasswordForm.hasError('not same')"> confirm password is required.</div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                            <div class="form-group ">
                                <button type="submit" class="btn square_btn btn-lg btn-block login-button">Submit</button>
                            </div>
                        </form>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="section-padding bg-white border-top">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-truck-fast"></i>
                <h6>Free & Next Day Delivery</h6>
                <p>Lorem ipsum dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-basket"></i>
                <h6>100% Satisfaction Guarantee</h6>
                <p>Rorem Ipsum Dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-tag-heart"></i>
                <h6>Great Daily Deals Discount</h6>
                <p>Sorem Ipsum Dolor sit amet, Cons...</p>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Copyright -->
 <section class="pt-4 pb-4 footer-bottom">
    <div class="container">
       <div class="row no-gutters">
          <div class="col-lg-6 col-sm-6">
             <p class="mt-1 mb-0">&copy; Copyright 2020 <strong class="text-dark">Groci</strong>. All Rights Reserved<br>
             <small class="mt-0 mb-0">Made with <i class="mdi mdi-heart text-danger"></i> by <a href="https://askbootstrap.com/" target="_blank" class="text-primary">Ask Bootstrap</a>
             </small>
             </p>
          </div>
          <div class="col-lg-6 col-sm-6 text-right">
             <img alt="osahan logo" src="img/payment_methods.png">
          </div>
       </div>
    </div>
 </section>
 <!-- End Copyright -->