<section class="account-page section-padding">
    <div class="container">
       <div class="row">
          <div class="col-lg-9 mx-auto">
             <div class="row no-gutters">
                <div class="col-md-4">
                   <div class="card account-left">
                      <div class="user-profile-header">
                         <img alt="logo" src="img/user.jpg">
                         <h5 class="mb-1 text-secondary"><strong>Hi </strong> OSAHAN</h5>
                         <p> +91 8568079956</p>
                      </div>
                      <div class="list-group">
                         <a routerLink="/my-profile" class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-account-outline"></i>  My Profile</a>
                         <a routerLink="/my-address" class="list-group-item list-group-item-action active"><i aria-hidden="true" class="mdi mdi-map-marker-circle"></i>  My Address</a>
                         <a routerLink="/wishlist" class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-heart-outline"></i>  Wish List </a>
                         <a routerLink="/orderlist" class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-format-list-bulleted"></i>  Order List</a> 
                         <a routerLink="/change-password" class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-lock"></i>Change Password</a>
                         <a routerLink="/logout" class="list-group-item list-group-item-action"><i aria-hidden="true" class="mdi mdi-lock"></i>  Logout</a> 
                      </div>
                   </div>
                </div>
                <div class="col-md-8">
                   <div class="card card-body account-right">
                      <div class="widget">
                         <div class="section-header">
                            <h5 class="heading-design-h5">
                               Change Password
                            </h5>
                         </div>
                         <form>
                            <div class="row">
                               <div class="col-sm-12">
                                  <div class="form-group">
                                     <label class="control-label">Old Password: <span class="required">*</span></label>
                                     <input class="form-control border-form-control"  placeholder="Enter Old Password" type="text">
                                  </div>
                               </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                   <div class="form-group">
                                      <label class="control-label">New Password: <span class="required">*</span></label>
                                      <input class="form-control border-form-control"  placeholder="Enter New Password" type="text">
                                   </div>
                                </div>
                             </div>
                             <div class="row">
                                <div class="col-sm-12">
                                   <div class="form-group">
                                      <label class="control-label">Confirm Password: <span class="required">*</span></label>
                                      <input class="form-control border-form-control"  placeholder="Enter Confirm Password" type="text">
                                   </div>
                                </div>
                             </div>
                            
                            <div class="row">
                               <div class="col-sm-12 text-right">
                                  <button type="button" class="btn btn-danger btn-lg"> Cancel </button>
                                  <button type="button" class="btn btn-success btn-lg"> Update Address </button>
                               </div>
                            </div>
                         </form>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="section-padding bg-white border-top">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-truck-fast"></i>
                <h6>Free & Next Day Delivery</h6>
                <p>Lorem ipsum dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-basket"></i>
                <h6>100% Satisfaction Guarantee</h6>
                <p>Rorem Ipsum Dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-tag-heart"></i>
                <h6>Great Daily Deals Discount</h6>
                <p>Sorem Ipsum Dolor sit amet, Cons...</p>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Copyright -->
 <section class="pt-4 pb-4 footer-bottom">
    <div class="container">
       <div class="row no-gutters">
          <div class="col-lg-6 col-sm-6">
             <p class="mt-1 mb-0">&copy; Copyright 2020 <strong class="text-dark">Groci</strong>. All Rights Reserved<br>
             <small class="mt-0 mb-0">Made with <i class="mdi mdi-heart text-danger"></i> by <a href="https://askbootstrap.com/" target="_blank" class="text-primary">Ask Bootstrap</a>
             </small>
             </p>
          </div>
          <div class="col-lg-6 col-sm-6 text-right">
             <img alt="osahan logo" src="img/payment_methods.png">
          </div>
       </div>
    </div>
 </section>
 <!-- End Copyright -->