
      <!-- Inner Header -->
      <section class="section-padding bg-dark inner-header">
        <div class="container">
           <div class="row">
              <div class="col-md-12 text-center">
                 <h1 class="mt-0 mb-3 text-white">Terms & Conditions</h1>
                 <div class="breadcrumbs">
                    <p class="mb-0 text-white"><a class="text-white" routerLink="/home">Home</a>  /  <span class="text-success">Terms & Conditions</span></p>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- End Inner Header -->
     <!-- About -->
     <section class="section-padding bg-white">
        <div class="container">
           <div class="row">
              
              <div class="col-lg-12 col-md-12 pl-12 pr-6">
                 <!-- <h4 class="mt-5 mb-5 text-secondary"> One stop for all your needs and essentials!</h4> -->
                 <h5 class="mt-2 text-secondary" style="font-weight: 500;">Terms and Conditions ("Terms")</h5>
                 <p style="color: #333;font-size: 14px;text-align: justify;font-weight: 500;">
                    

                    Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the <a href = "https://aswikmart.com"><b>aswikamart.com</b></a> website (the "Service") operated by aswikamart.
                    
                    Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
                    
                    By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms, then you may not access the Service.</p>
                    
                    <h5 class="mt-2 text-secondary" style="font-weight: 500;">ACCOUNTS</h5>
                    <p style="color: #333;font-size: 14px;text-align: justify;font-weight: 500;">
                    When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.
                    
                    You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.
                    
                    You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>
                    
                    <h5 class="mt-2 text-secondary" style="font-weight: 500;">Links To Other Web Sites : </h5>
                    <p style="color: #333;font-size: 14px;text-align: justify;font-weight: 500;">Our Service may contain links to third-party web sites or services that are not owned or controlled by Aswikamart.
                    
                    aswikamart has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third-party web sites or services. You further acknowledge and agree that Modern Bazaar shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
                    
                    We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>
                    
                    <h5 class="mt-2 text-secondary" style="font-weight: 500;">Termination:</h5>
                    
                    <p style="color: #333;font-size: 14px;text-align: justify;font-weight: 500;">
                    We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
                    
                    All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
                    
                    We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
                    
                    Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.
                    
                    All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
                    
                    <h5 class="mt-2 text-secondary" style="font-weight: 500;">Governing Law:</h5>
                    <p style="color: #333;font-size: 14px;text-align: justify;font-weight: 500;">
                    
                    These Terms shall be governed and construed in accordance with the laws of Telangana, India, without regard to its conflict of law provisions.
                    
                    Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>
                    
                    <h5 class="mt-2 text-secondary" style="font-weight: 500;">Changes:</h5>
                    <p style="color: #333;font-size: 14px;text-align: justify;font-weight: 500;">
                    
                    We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
                    
                    By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>
                    
                    <h5 class="mt-2 text-secondary" style="font-weight: 500;">Contact Us:</h5>
                    <p style="color: #333;font-size: 14px;text-align: justify;font-weight: 500;">
                    
                    If you have any questions about these Terms, please contact us on  +91-9989385332 or mail us on customersupport@aswikamart.com
                   </p>
                
              </div>
           </div>
        </div>
     </section>
     <!-- End About -->
     
     <section class="section-padding bg-white border-top" style="background: radial-gradient(orange, transparent);">
        <div class="container">
           <div class="row">
              <div class="col-lg-4 col-sm-6">
                 <div class="feature-box">
                    <i class="mdi mdi-truck-fast" style="color : #3a0808;border :1px solid #3a0808; border-style: dotted;"></i>
                    <h6 style="font-weight: 500;">Free & Next Day Delivery</h6>
                    <!-- <p>Lorem ipsum dolor sit amet, cons...</p> -->
                 </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                 <div class="feature-box">
                    <i class="mdi mdi-basket"style="color : #3a0808;border :1px solid #3a0808;"></i>
                    <h6 style="font-weight: 500;">100% Satisfaction Guarantee</h6>               
                 </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                 <div class="feature-box">
                    <i class="mdi mdi-tag-heart" style="color : #3a0808;border :1px solid #3a0808;"></i>
                    <h6 style="font-weight: 500;">Great Daily Deals Discount</h6>               
                 </div>
              </div>
           </div>
        </div>
        <div>
           <button type="button" class="goto-top" (click)="gotoTop()"><span class="mdi mdi-chevron-up"></span></button>
        </div>
     </section>
      <section>
        <app-footer></app-footer>
      </section> 
      <!-- Copyright -->
      <section class="pt-4 pb-4 footerr footer-bottom" >
         <div class="container">
            <div class="row no-gutters">
               <div class="col-lg-6 col-sm-6">
                  <p class="mt-1 mb-0">&copy; Copyright 2021 <strong class="text-dark">ASWIKA STORES</strong>. All Rights Reserved<br></p>
               </div>
              
            </div>
         </div>
      </section>
      <!-- End Copyright -->