<div class="modal fade login-modal-main" id="bd-example-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
       <div class="modal-content">
          <div class="modal-body">
             <div class="login-modal">
                <div class="row">
                   <div class="col-lg-6 pad-right-0">
                      <div class="login-modal-left">
                      </div>
                   </div>
                   <div class="col-lg-6 pad-left-0">
                      <button type="button" class="close close-top-right" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"><i class="mdi mdi-close"></i></span>
                      <span class="sr-only">Close</span>
                      </button>
                      <form>
                         <div class="login-modal-right">
                            <!-- Tab panes -->
                            <div class="tab-content">
                               <div class="tab-pane active" id="login" role="tabpanel">
                                  <h5 class="heading-design-h5">Login to your account</h5>
                                  <fieldset class="form-group">
                                     <label>Enter Email/Mobile number</label>
                                     <input type="text" class="form-control" placeholder="+91 123 456 7890">
                                  </fieldset>
                                  <fieldset class="form-group">
                                     <label>Enter Password</label>
                                     <input type="password" class="form-control" placeholder="********">
                                  </fieldset>
                                  <fieldset class="form-group">
                                     <button type="submit" class="btn btn-lg btn-secondary btn-block">Enter to your account</button>
                                  </fieldset>
                                  <div class="login-with-sites text-center">
                                     <p>or Login with your social profile:</p>
                                     <button class="btn-facebook login-icons btn-lg"><i class="mdi mdi-facebook"></i> Facebook</button>
                                     <button class="btn-google login-icons btn-lg"><i class="mdi mdi-google"></i> Google</button>
                                     <button class="btn-twitter login-icons btn-lg"><i class="mdi mdi-twitter"></i> Twitter</button>
                                  </div>
                                  <div class="custom-control custom-checkbox">
                                     <input type="checkbox" class="custom-control-input" id="customCheck1">
                                     <label class="custom-control-label" for="customCheck1">Remember me</label>
                                  </div>
                               </div>
                               <div class="tab-pane" id="register" role="tabpanel">
                                  <h5 class="heading-design-h5">Register Now!</h5>
                                  <fieldset class="form-group">
                                     <label>Enter Email/Mobile number</label>
                                     <input type="text" class="form-control" placeholder="+91 123 456 7890">
                                  </fieldset>
                                  <fieldset class="form-group">
                                     <label>Enter Password</label>
                                     <input type="password" class="form-control" placeholder="********">
                                  </fieldset>
                                  <fieldset class="form-group">
                                     <label>Enter Confirm Password </label>
                                     <input type="password" class="form-control" placeholder="********">
                                  </fieldset>
                                  <fieldset class="form-group">
                                     <button type="submit" class="btn btn-lg btn-secondary btn-block">Create Your Account</button>
                                  </fieldset>
                                  <div class="custom-control custom-checkbox">
                                     <input type="checkbox" class="custom-control-input" id="customCheck2">
                                     <label class="custom-control-label" for="customCheck2">I Agree with <a href="#">Term and Conditions</a></label>
                                  </div>
                               </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="text-center login-footer-tab">
                               <ul class="nav nav-tabs" role="tablist">
                                  <li class="nav-item">
                                     <a class="nav-link active" data-toggle="tab" href="#login" role="tab"><i class="mdi mdi-lock"></i> LOGIN</a>
                                  </li>
                                  <li class="nav-item">
                                     <a class="nav-link" data-toggle="tab" href="#register" role="tab"><i class="mdi mdi-pencil"></i> REGISTER</a>
                                  </li>
                               </ul>
                            </div>
                            <div class="clearfix"></div>
                         </div>
                      </form>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- <div class="navbar-top bg-success pt-2 pb-2">
    <div class="container-fluid">
       <div class="row">
          <div class="col-lg-12 text-center">
             <a href="shop.html" class="mb-0 text-white">
             20% cashback for new users | Code: <strong><span class="text-light">OGOFERS13 <span class="mdi mdi-tag-faces"></span></span> </strong>  
             </a>
          </div>
       </div>
    </div>
 </div> -->
 <section class="pt-3 pb-3 page-info section-padding border-bottom bg-white">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <a href="#"><strong><span class="mdi mdi-home"></span> Home</strong></a> <span class="mdi mdi-chevron-right"></span> <a href="#">Shop</a>
          </div>
       </div>
    </div>
 </section>
 <section class="shop-list section-padding">
    <div class="container">
       <div class="row">
          <div class="col-md-3">
              <div class="shop-filters">
                 <div id="accordion">
                    <div class="card">
                       <div class="card-header" id="headingOne">
                          <h5 class="mb-0">
                             <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                             Category <span class="mdi mdi-chevron-down float-right"></span>
                             </button>
                          </h5>
                       </div>
                       <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body card-shop-filters">
                             <form class="form-inline mb-3">
                                <div class="form-group">
                                   <input type="text" class="form-control" placeholder="Search By Category">
                                   <button type="submit" class="pl-2 pr-2 btn btn-secondary btn-lg"><i class="mdi mdi-file-find"></i></button>
                                </div>
                             </form>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb1">
                                <label class="custom-control-label" for="cb1">All Fruits </label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb8">
                                <label class="custom-control-label" for="cb8">Fresh & Herbs <span class="badge badge-primary">5% OFF</span></label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb2">
                                <label class="custom-control-label" for="cb2">Seasonal Fruits <span class="badge badge-secondary">NEW</span></label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb3">
                                <label class="custom-control-label" for="cb3">Imported Fruits <span class="badge badge-danger">10% OFF</span></label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb4">
                                <label class="custom-control-label" for="cb4">Citrus <span class="badge badge-info">50% OFF</span></label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb5">
                                <label class="custom-control-label" for="cb5">Cut Fresh & Herbs</label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb6">
                                <label class="custom-control-label" for="cb6">Seasonal Fruits <span class="badge badge-success">25% OFF</span></label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb7">
                                <label class="custom-control-label" for="cb7">Fresh & Herbs <span class="badge badge-primary">5% OFF</span></label>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="card">
                       <div class="card-header" id="headingTwo">
                          <h5 class="mb-0">
                             <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                             Price <span class="mdi mdi-chevron-down float-right"></span>
                             </button>
                          </h5>
                       </div>
                       <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body card-shop-filters">
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="1">
                                <label class="custom-control-label" for="1">$68 to $659 <span class="badge badge-warning">50% OFF</span></label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="2">
                                <label class="custom-control-label" for="2">$660 to $1014</label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="3">
                                <label class="custom-control-label" for="3">$1015 to $1679</label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="4">
                                <label class="custom-control-label" for="4">$1680 to $1856</label>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="card">
                       <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                             <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                             Brand <span class="mdi mdi-chevron-down float-right"></span>
                             </button>
                          </h5>
                       </div>
                       <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body card-shop-filters">
                             <form class="form-inline mb-3">
                                <div class="form-group">
                                   <input type="text" class="form-control" placeholder="Search By Brand">
                                </div>
                                <button type="submit" class="btn btn-secondary ml-2">GO</button>
                             </form>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="b1">
                                <label class="custom-control-label" for="b1">Imported Fruits <span class="badge badge-warning">50% OFF</span></label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="b2">
                                <label class="custom-control-label" for="b2">Seasonal Fruits <span class="badge badge-secondary">NEW</span></label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="b3">
                                <label class="custom-control-label" for="b3">Imported Fruits <span class="badge badge-danger">10% OFF</span></label>
                             </div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="b4">
                                <label class="custom-control-label" for="b4">Citrus</label>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="card">
                       <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                             <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                             Imported Fruits <span class="mdi mdi-chevron-down float-right"></span>
                             </button>
                          </h5>
                       </div>
                       <div id="collapsefour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                             <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action">All Fruits</a>
                                <a href="#" class="list-group-item list-group-item-action">Imported Fruits</a>
                                <a href="#" class="list-group-item list-group-item-action">Seasonal Fruits</a>
                                <a href="#" class="list-group-item list-group-item-action">Citrus</a>
                                <a href="#" class="list-group-item list-group-item-action disabled">Cut Fresh & Herbs</a>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="left-ad mt-4">
                 <img class="img-fluid" src="http://via.placeholder.com/254x557" alt="">
              </div>
           </div>
          <div class="col-md-9">
             <a href="#"><img class="img-fluid mb-3" src="assets/img/shop.jpg" alt=""></a>
             <div class="shop-head">
                <a href="#"><span class="mdi mdi-home"></span> Home</a> <span class="mdi mdi-chevron-right"></span> <a href="#">Fruits & Vegetables</a> <span class="mdi mdi-chevron-right"></span> <a href="#">Fruits</a>
                <div class="btn-group float-right mt-2">
                   <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Sort by Products &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   </button>
                   <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">Relevance</a>
                      <a class="dropdown-item" href="#">Price (Low to High)</a>
                      <a class="dropdown-item" href="#">Price (High to Low)</a>
                      <a class="dropdown-item" href="#">Discount (High to Low)</a>
                      <a class="dropdown-item" href="#">Name (A to Z)</a>
                   </div>
                </div>
                <h5 class="mb-3">Fruits</h5>
             </div>
             <div class="row no-gutters">
                <div class="col-md-4">
                   <div class="product">
                      <a routerLink="single">
                         <div class="product-header">
                            <span class="badge badge-success">50% OFF</span>
                            <img class="img-fluid" src="assets/img/item/1.jpg" alt="">
                            <span class="veg text-success mdi mdi-circle"></span>
                         </div>
                         <div class="product-body">
                            <h5>Product Title Here</h5>
                            <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                         </div>
                         <div class="product-footer">
                            <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                            <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                         </div>
                      </a>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="product">
                      <a routerLink="single">
                         <div class="product-header">
                            <span class="badge badge-success">50% OFF</span>
                            <img class="img-fluid" src="assets/img/item/2.jpg" alt="">
                            <span class="veg text-success mdi mdi-circle"></span>
                         </div>
                         <div class="product-body">
                            <h5>Product Title Here</h5>
                            <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                         </div>
                         <div class="product-footer">
                            <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                            <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                         </div>
                      </a>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="product">
                      <a routerLink="single">
                         <div class="product-header">
                            <span class="badge badge-success">50% OFF</span>
                            <img class="img-fluid" src="assets/img/item/3.jpg" alt="">
                            <span class="veg text-success mdi mdi-circle"></span>
                         </div>
                         <div class="product-body">
                            <h5>Product Title Here</h5>
                            <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                         </div>
                         <div class="product-footer">
                            <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                            <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                         </div>
                      </a>
                   </div>
                </div>
             </div>
             <div class="row no-gutters">
                <div class="col-md-4">
                   <div class="product">
                      <a routerLink="single">
                         <div class="product-header">
                            <span class="badge badge-success">50% OFF</span>
                            <img class="img-fluid" src="assets/img/item/4.jpg" alt="">
                            <span class="veg text-success mdi mdi-circle"></span>
                         </div>
                         <div class="product-body">
                            <h5>Product Title Here</h5>
                            <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                         </div>
                         <div class="product-footer">
                            <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                            <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                         </div>
                      </a>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="product">
                      <a routerLink="single">
                         <div class="product-header">
                            <span class="badge badge-success">50% OFF</span>
                            <img class="img-fluid" src="assets/img/item/5.jpg" alt="">
                            <span class="veg text-success mdi mdi-circle"></span>
                         </div>
                         <div class="product-body">
                            <h5>Product Title Here</h5>
                            <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                         </div>
                         <div class="product-footer">
                            <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                            <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                         </div>
                      </a>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="product">
                      <a routerLink="single">
                         <div class="product-header">
                            <span class="badge badge-success">50% OFF</span>
                            <img class="img-fluid" src="assets/img/item/6.jpg" alt="">
                            <span class="veg text-success mdi mdi-circle"></span>
                         </div>
                         <div class="product-body">
                            <h5>Product Title Here</h5>
                            <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                         </div>
                         <div class="product-footer">
                            <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                            <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                         </div>
                      </a>
                   </div>
                </div>
             </div>
             <div class="row no-gutters">
                <div class="col-md-4">
                   <div class="product">
                      <a routerLink="single">
                         <div class="product-header">
                            <span class="badge badge-success">50% OFF</span>
                            <img class="img-fluid" src="assets/img/item/7.jpg" alt="">
                            <span class="veg text-success mdi mdi-circle"></span>
                         </div>
                         <div class="product-body">
                            <h5>Product Title Here</h5>
                            <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                         </div>
                         <div class="product-footer">
                            <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                            <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                         </div>
                      </a>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="product">
                      <a routerLink="single">
                         <div class="product-header">
                            <span class="badge badge-success">50% OFF</span>
                            <img class="img-fluid" src="assets/img/item/8.jpg" alt="">
                            <span class="veg text-success mdi mdi-circle"></span>
                         </div>
                         <div class="product-body">
                            <h5>Product Title Here</h5>
                            <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                         </div>
                         <div class="product-footer">
                            <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                            <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                         </div>
                      </a>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="product">
                      <a routerLink="single">
                         <div class="product-header">
                            <span class="badge badge-success">50% OFF</span>
                            <img class="img-fluid" src="assets/img/item/9.jpg" alt="">
                            <span class="veg text-success mdi mdi-circle"></span>
                         </div>
                         <div class="product-body">
                            <h5>Product Title Here</h5>
                            <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                         </div>
                         <div class="product-footer">
                            <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                            <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                         </div>
                      </a>
                   </div>
                </div>
             </div>
             <nav>
                <ul class="pagination justify-content-center mt-4">
                   <li class="page-item disabled">
                      <span class="page-link">Previous</span>
                   </li>
                   <li class="page-item"><a class="page-link" href="#">1</a></li>
                   <li class="page-item active">
                      <span class="page-link">
                      2
                      <span class="sr-only">(current)</span>
                      </span>
                   </li>
                   <li class="page-item"><a class="page-link" href="#">3</a></li>
                   <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                   </li>
                </ul>
             </nav>
          </div>
       </div>
    </div>
 </section>
 <section class="product-items-slider section-padding bg-white border-top">
    <div class="container">
       <div class="section-header">
          <h5 class="heading-design-h5">Best Offers View <span class="badge badge-primary">20% OFF</span>
             <a class="float-right text-secondary" href="shop.html">View All</a>
          </h5>
       </div>
       <div class="owl-carousel owl-carousel-featured">
          <div class="item">
             <div class="product">
                <a routerLink="single">
                   <div class="product-header">
                      <span class="badge badge-success">50% OFF</span>
                      <img class="img-fluid" src="assets/img/item/7.jpg" alt="">
                      <span class="veg text-success mdi mdi-circle"></span>
                   </div>
                   <div class="product-body">
                      <h5>Product Title Here</h5>
                      <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                   </div>
                   <div class="product-footer">
                      <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                      <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                   </div>
                </a>
             </div>
          </div>
          <div class="item">
             <div class="product">
                <a routerLink="single">
                   <div class="product-header">
                      <span class="badge badge-success">50% OFF</span>
                      <img class="img-fluid" src="assets/img/item/8.jpg" alt="">
                      <span class="non-veg text-danger mdi mdi-circle"></span>
                   </div>
                   <div class="product-body">
                      <h5>Product Title Here</h5>
                      <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                   </div>
                   <div class="product-footer">
                      <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                      <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                   </div>
                </a>
             </div>
          </div>
          <div class="item">
             <div class="product">
                <a routerLink="single">
                   <div class="product-header">
                      <span class="badge badge-success">50% OFF</span>
                      <img class="img-fluid" src="assets/img/item/9.jpg" alt="">
                      <span class="non-veg text-danger mdi mdi-circle"></span>
                   </div>
                   <div class="product-body">
                      <h5>Product Title Here</h5>
                      <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                   </div>
                   <div class="product-footer">
                      <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                      <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                   </div>
                </a>
             </div>
          </div>
          <div class="item">
             <div class="product">
                <a routerLink="single">
                   <div class="product-header">
                      <span class="badge badge-success">50% OFF</span>
                      <img class="img-fluid" src="assets/img/item/10.jpg" alt="">
                      <span class="veg text-success mdi mdi-circle"></span>
                   </div>
                   <div class="product-body">
                      <h5>Product Title Here</h5>
                      <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                   </div>
                   <div class="product-footer">
                      <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                      <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                   </div>
                </a>
             </div>
          </div>
          <div class="item">
             <div class="product">
                <a routerLink="single">
                   <div class="product-header">
                      <span class="badge badge-success">50% OFF</span>
                      <img class="img-fluid" src="assets/img/item/11.jpg" alt="">
                      <span class="veg text-success mdi mdi-circle"></span>
                   </div>
                   <div class="product-body">
                      <h5>Product Title Here</h5>
                      <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                   </div>
                   <div class="product-footer">
                      <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                      <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                   </div>
                </a>
             </div>
          </div>
          <div class="item">
             <div class="product">
                <a routerLink="single">
                   <div class="product-header">
                      <span class="badge badge-success">50% OFF</span>
                      <img class="img-fluid" src="assets/img/item/12.jpg" alt="">
                      <span class="veg text-success mdi mdi-circle"></span>
                   </div>
                   <div class="product-body">
                      <h5>Product Title Here</h5>
                      <h6><strong><span class="mdi mdi-approval"></span> Available in</strong> - 500 gm</h6>
                   </div>
                   <div class="product-footer">
                      <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                      <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i><br><span class="regular-price">$800.99</span></p>
                   </div>
                </a>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="section-padding bg-white border-top">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-truck-fast"></i>
                <h6>Free & Next Day Delivery</h6>
                <p>Lorem ipsum dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-basket"></i>
                <h6>100% Satisfaction Guarantee</h6>
                <p>Rorem Ipsum Dolor sit amet, cons...</p>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="feature-box">
                <i class="mdi mdi-tag-heart"></i>
                <h6>Great Daily Deals Discount</h6>
                <p>Sorem Ipsum Dolor sit amet, Cons...</p>
             </div>
          </div>
       </div>
    </div>
 </section>
       <!-- Copyright -->
       <section class="pt-4 pb-4 footer-bottom">
        <div class="container">
           <div class="row no-gutters">
              <div class="col-lg-6 col-sm-6">
                 <p class="mt-1 mb-0">&copy; Copyright 2020 <strong class="text-dark">Groci</strong>. All Rights Reserved<br>
                 <small class="mt-0 mb-0">Made with <i class="mdi mdi-heart text-danger"></i> by <a href="https://askbootstrap.com/" target="_blank" class="text-primary">Ask Bootstrap</a>
                 </small>
                 </p>
              </div>
              <div class="col-lg-6 col-sm-6 text-right">
                 <img alt="osahan logo" src="img/payment_methods.png">
              </div>
           </div>
        </div>
     </section>
     <!-- End Copyright -->