<nav class="navbar navbar-expand-lg navbar-light osahan-menu-2 pad-none-mobile mb-0">
    <div class="container-fluid">
       <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 margin-auto">
             <li class="nav-item">
                <a routerLink="home" routerLinkActive="active" class="nav-link">HOME</a>
             </li>
             <li class="nav-item dropdown upper" *ngFor ="let c of cat_subcat">
                <a routerLink= "{{c.category_name}}" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"  >{{c.category_name}}</a>
                <ul class="dropdown-menu" >
                    <li class="dropdown-item intro"  *ngFor = "let s of c.subCategories">
                   <a routerLink ="shop/{{c.category_name}}/{{s.sub_category_name}}/{{s.id}}" routerLinkActive="active"
                   ><i class="mdi mdi-chevron-right"
                         aria-hidden="true"></i>
                      {{s.sub_category_name}}</a>
                    </li>
                   </ul>
             </li>
             
          </ul>
       </div>
    </div>
 </nav>